/* -header */

.header {
    &-top {
        padding: 6px 0 6px;
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__contact {
            display: none;
            font-size: 17px;
            a {
                p {
                    margin: 0;
                }
                p:nth-child(1) {
                    font-weight: 600;
                    margin-right: 9px;
                }
            }
        }
    }

    &-center {
        padding: 0 0 40px;
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .logo,
        .sidebar__logo {
            height: 60px;
            width: 60px;
            overflow: hidden;
            a {
                display: block;
            }
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                object-position: center center;
            }
        }
        &__info {
            max-width: 406px;
            width: 100%;
        }
    }

    .menu-list {
        display: flex;
        align-items: center;
        &__item {
            position: relative;
            &-link {
                font-weight: 500;
                padding: 22px 22px;
                position: relative;
                svg {
                    width: 11px;
                    height: 7px;
                    position: absolute;
                    top: 50%;
                    right: 8px;
                    transform: translateY(-50%);
                    stroke: $navyBlue;
                    transition: all $transition;
                }
            }
            &-link:focus,
            &-link:hover {
                svg {
                    stroke: $green;
                }
            }
        }
        &__item:nth-child(1) {
            a {
                padding: 22px 26px 22px 0;
            }
        }
        &__item:hover {
            .menu-sublist {
                top: 80%;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__authorization {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            display: block;
            min-height: 100%;
            font-size: 17px;
            line-height: 23px;
            font-weight: 700;
            padding: 20px 12px;
        }
        a:nth-child(2) {
            padding: 20px 0 20px 28px;
        }
    }

    .menu-sublist {
        width: 255px;
        min-height: 100px;
        border-radius: 28px;
        border: 2px solid $grayWhite;
        background-color: $white;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        z-index: 500;
        box-shadow: 0px 12px 36px rgba(0, 19, 69, 0.06);
        transition: all $transition;
        overflow: hidden;
        padding: 20px;
    }

    &__title {
        font-size: 20px;
        line-height: 27px;
        font-weight: 500;
        margin-bottom: 11px;
    }
    &__items {
        display: flex;
        .header__item {
            display: flex;
            align-items: center;
            &-num {
                font-size: 30px;
                line-height: 35px;
                color: $gray;
            }
            &-text {
                font-size: 13px;
                line-height: 15px;
                margin-left: 8px;
            }
        }
    }
    &__phone {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 8px;
    }
    &__text {
        font-size: 18px;
        line-height: 21px;
    }
    &-banner {
        max-width: 100%;
        width: 100%;
        height: 540px;
        background-image: url(../images/header-banner2.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% contain;
        overflow: hidden;
        padding: 54px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &__item {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 18px;
            color: $white;
            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                margin-right: 10px;
                svg {
                    fill: $white;
                }
            }
        }
    }
}

.header-banner__item-icon--size1 {
    svg {
        width: 40px;
        height: 40px;
        stroke: $white;
        stroke-width: 2px;
        stroke-linejoin: round;
    }
}
.header-banner__item-icon--size2 {
    svg {
        width: 29px;
        height: 36px;
    }
}
.header-banner__item-icon--size1,
.header-banner__item-icon--size2 {
    svg {
        stroke: $white;
        stroke-width: 2px;
        stroke-linejoin: round;
    }
}
.header-banner__item-icon--size3 {
    svg {
        width: 31px;
        height: 31px;
    }
}
.header-banner__item-icon--size4 {
    svg {
        width: 22px;
        height: 37px;
    }
}

// -sidebar

.sidebar--active {
    position: fixed;
    z-index: 1030;
    top: 0;
    left: -100%;
    width: 86%;
    height: 100%;
    background-color: $white;
    overflow-x: hidden;
    transition: all $transition;
}
.sidebar-overlay {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    transition: all $transition;
    &.sidebar-overlay--active {
        display: block;
    }
}

.sidebar {
    &__top{
        display: none;
    }
    &__info {
        display: none;
    }
    .sidebar-catalog-list {
        display: none;
    }
    .sidebar-menu-list {
        display: none;
    }
    &.sidebar--active {
        left: 0;
        display: flex;
        flex-direction: column;
        .container {
            max-width: 100%;
            padding: 0;
        }
        .header-top {
            order: 2;
            padding: 0;
            &__inner {
                flex-direction: column;
            }
        }
        .header-top__contact {
            display: none;
        }
        .header-center {
            order: 1;
            padding: 0;
            &__inner {
                flex-direction: column;
                align-items: start;
                justify-content: start;
                padding: 20px;
            }
        }
        .logo,
        .header-center__btn,
        .header-center__info,
        .header-center__contact,
        .urgent-call-btn {
            display: none;
        }
        .sidebar__top {
            display: flex;
            justify-content: flex-end;
            max-width: 100%;
            width: 100%;
            margin-bottom: 20px;
        }
        .sidebar__info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 100%;
            width: 100%;
        }
        .sidebar__contact {
            a {
                text-align: center;
                p {
                    margin: 0;
                }
                p:nth-child(1) {
                    font-weight: 600;
                }
            }
        }

        .header__authorization {
            max-width: 100%;
            width: 100%;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                background-color: $grayBlue;
                padding: 20px 15px;
                position: relative;
            }
            a:nth-child(1)::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 28px;
                background-color: $navyBlue;
            }
            a:nth-child(2) {
                padding: 20px;
            }
        }

        .sidebar-catalog-list {
            display: block;
            max-width: 100%;
            width: 100%;
            margin-bottom: 20px;
            &__title {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.22px;
                color: $white;
                background-color: $green;
                padding: 22px 20px;
                margin-bottom: 6px;
            }
            &__item {
                &-link {
                    max-width: 100%;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 8px 26px 8px 20px;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        right: 16px;
                        top: 50%;
                        width: 10px;
                        height: 10px;
                        transform: translateY(-50%) rotate(45deg);
                        border: 2px solid $gray;
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                        transition: all $transition;
                    }
                }
                &-link:hover {
                    color: $green;
                    &::after {
                        border: 2px solid $green;
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                    }
                }
            }
        }

        .sidebar-menu-list {
            display: block;
            max-width: 100%;
            width: 100%;
            background-color: $grayBlue;
            padding: 20px 0;
            &__item {
                &-link {
                    max-width: 100%;
                    width: 100%;
                    font-size: 14px;
                    background-color: $grayBlue;
                    padding: 8px 26px 8px 20px;
                }
                &-link:hover {
                    color: $green;
                }
            }
        }
    }
}
