@import "vars";
@import "fonts";
@import "global";
@import "sliders";
@import "button";
@import "header";
@import "footer";

/* -services */

.services {
    padding: 62px 0 15px;
    overflow: hidden;
    &__title {
        margin-bottom: 33px;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 70px;
            height: 70px;
            margin-right: 16px;
            svg {
                width: 50px;
                height: 50px;
                transition: all $transition;
            }
        }
        &-text {
            display: block;
            transition: all $transition;
        }
        &:focus &-icon,
        &:hover &-icon {
            svg {
                fill: $green;
            }
        }
    }
}

/* #services */

/* -narrate */

.narrate {
    padding: 27px 0 67px;
    overflow: hidden;
    &__title {
        margin-bottom: 7px;
    }
    &__item {
        text-align: center;
        margin-bottom: 30px;
        &-img {
            display: block;
            height: 237px;
            margin-bottom: 28px;
        }
        &-title {
            font-size: 22px;
            line-height: 25px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        &-subtitle {
            font-size: 20px;
            line-height: 26px;
        }
    }
    &__inner {
        max-width: 150px;
        width: 100%;
        margin: 0 auto;
    }
}

/* #narrate */

/* -info-label */

.info-label {
    text-align: center;
    font-size: 32px;
    line-height: 37px;
    font-weight: 700;
    color: $white;
    background-color: $green;
    padding: 19px 0;
    overflow: hidden;
}

/* #info-label */

/* -masters */

.masters {
    padding: 66px 0 52px;
    overflow: hidden;
    &__title {
        margin-bottom: 48px;
    }
    .masters-slider-item__inner {
        display: block;
        width: 264px;
        text-align: center;
        margin: 0 auto;
        &-img {
            width: 264px;
            height: 252px;
            border-radius: 50%;
            margin: 0 auto 12px auto;
            overflow: hidden;
            transform: scale(1);
            transition: all $transition;
            img {
                object-fit: cover;
                object-position: center center;
            }
        }
        &-name {
            font-size: 22px;
            line-height: 25px;
            font-weight: 700;
            color: $navyBlue;
            margin-bottom: 6px;
        }
        &-position {
            font-size: 20px;
            line-height: 23px;
            font-weight: 500;
            color: $gray;
            margin-bottom: 18px;
        }
        &-name,
        &-position {
            transition: all $transition;
        }
        &-rating {
            display: flex;
            justify-content: center;
        }
    }
    .masters-slider-item__inner:focus,
    .masters-slider-item__inner:hover {
        .masters-slider-item__inner-img {
            transform: scale(0.98);
        }
        .masters-slider-item__inner-name,
        .masters-slider-item__inner-position {
            color: $green;
        }
    }
}

/* #masters */

/* -why-withus */

.why-withus {
    padding: 48px 0 18px;
    overflow: hidden;
    &__title {
        margin-bottom: -6px;
    }
    &__item {
        margin-top: 43px;
        &-inner {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
        }
        &-icon {
            width: 40px;
            height: 40px;
            svg {
                width: 40px;
                height: 40px;
            }
        }
        &-title {
            font-size: 20px;
            line-height: 23px;
            font-weight: 500;
            margin-left: 12px;
        }
        &-text {
            font-size: 16px;
            line-height: 22px;
        }
    }
}

/* #why-withus */

/* -last-works */

.last-works {
    padding: 29px 0;
    overflow: hidden;
    &__title {
        margin-bottom: 25px;
    }
    &-slider {
        &__item {
            a {
                display: block;
                max-width: 362px;
                width: 100%;
                min-height: 289px;
                border-radius: 28px;
                margin: 0 auto;
                overflow: hidden;
                transform: scale(1);
            }
            a:focus,
            a:hover {
                transform: scale(0.98);
            }
            img {
                width: auto;
                height: 100%;
                margin: 0 auto;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
}

/* #last-works */

/* -work-order */

.work-order {
    padding: 29px 0 37px;
    overflow: hidden;
    &__title {
        margin-bottom: 39px;
    }
    &__item {
        max-width: 100%;
        width: 100%;
        min-height: 369px;
        border-radius: 28px;
        border: 2px solid $grayWhite;
        background-color: $white;
        box-shadow: 0px 12px 36px rgba(0, 19, 69, 0.06);
        transform: translateY(0);
        transition: all $transition;
        overflow: hidden;
        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid $grayWhite;
            padding: 26px 31px 23px 27px;
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 52px;
            height: 52px;
            margin-bottom: 10px;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                object-position: center center;
            }
        }
        &-title {
            text-align: center;
            font-size: 25px;
            line-height: 29px;
            font-weight: 700;
        }
        &-wrap {
            padding: 39px 31px 23px 27px;
        }
        &-list {
            margin-bottom: 38px;
        }
        &-btn {
            display: block;
            text-align: center;
            font-size: 20px;
            line-height: 23px;
            font-weight: 500;
        }
    }
    &__item:hover {
        transform: translateY(-6px);
    }
}

/* #work-order */

/* -about */

.about {
    padding: 28px 0 23px;
    overflow: hidden;
    &__title {
        margin-bottom: 40px;
    }
    &__img {
        max-width: 100%;
        width: 100%;
        border-radius: 23px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            display: flex;
            object-fit: cover;
            object-position: center center;
        }
    }
}

/* #about */

/* -reviews */

.reviews {
    padding: 25px 0 36px;
    overflow: hidden;
    &__title {
        margin-bottom: 29px;
    }
    .reviews-slider-item-info {
        text-align: center;
        padding: 37px 34px 20px 33px;
        &__inner {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2px;
        }
        &__icon {
            width: 46px;
            height: 46px;
            svg {
                width: 100%;
                height: auto;
                fill: $green;
            }
        }
        &__percent {
            font-size: 60px;
            line-height: 70px;
            font-weight: 700;
            color: $green;
            margin-left: 7px;
        }
        &__title {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 33px;
        }
        &__list {
            p {
                display: inline-block;
                font-weight: 500;
                margin: 0;
            }
        }
    }
    .reviews-slider-item {
        padding: 24px 34px 16px 28px;
        &__inner {
            display: flex;
            margin-bottom: 24px;
        }
        &__img {
            min-width: 80px;
            width: 80px;
            min-height: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                object-position: center center;
            }
        }
        &__info {
            margin-left: 18px;
        }
        &__name {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 4px;
        }
        &__position {
            margin-bottom: 4px;
        }
        &__rating {
            padding-left: 2px;
            img {
                height: 22px;
            }
        }
        &__text {
            margin-bottom: 13px;
        }
        &-executor {
            &__name {
                margin-bottom: 5px;
            }
            &__service {
                display: flex;
                font-size: 12px;
                line-height: 13px;
                font-weight: 700;
                opacity: 0.5;
                svg {
                    width: 12px;
                    height: 13px;
                }
                p {
                    display: inline-block;
                    text-transform: uppercase;
                    margin: 0 0 0 9px;
                }
            }
        }
    }
    .reviews-slider-item-info,
    .reviews-slider-item {
        max-width: 362px;
        width: 100%;
        min-height: 285px;
        border-radius: 25px;
        border: 2px solid $grayWhite;
        background-color: $white;
        margin: 0 auto;
        box-shadow: 0px 12px 36px rgba(0, 19, 69, 0.06);
        overflow: hidden;
        transform: translateY(0);
        transition: all $transition;
    }
    .reviews-slider-item-info:hover,
    .reviews-slider-item:hover {
        transform: translateY(-6px);
    }
}

/* #reviews */

/* -partners */

.partners {
    padding: 29px 0 34px;
    overflow: hidden;
    &__title {
        margin-bottom: 29px;
    }
    &-slider {
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 264px;
            width: 100%;
            min-height: 160px;
            border-radius: 23px;
            border: 2px solid $grayWhite;
            background-color: $white;
            padding: 14px;
            margin: 0 auto;
            box-shadow: 0px 12px 36px rgba(0, 19, 69, 0.06);
            overflow: hidden;
            transform: scale(1);
            transition: all $transition;
            &__img {
                width: 178px;
                height: auto;
                overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    object-position: center center;
                }
            }
        }
        &-item:focus,
        &-item:hover {
            transform: scale(0.98);
        }
    }
}

/* #partners */

/* -masters-nearby */

.masters-nearby {
    padding: 32px 0 75px;
    overflow: hidden;
    &__title {
        margin-bottom: 38px;
    }
    &-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;
        &__input {
            max-width: 852px;
            width: 100%;
            min-height: 49px;
            border-radius: 12px;
            border: 2px solid $navyBlue;
            padding: 4px 23px 4px 23px;
            outline: none;
            transition: all $transition;
            &:focus,
            &:hover {
                color: $green;
                border: 2px solid $green;
            }
            &::placeholder {
                color: $gray;
                transition: all $transition;
            }
            &:focus::placeholder {
                color: $green;
            }
        }
        &__btn {
            display: flex;
            align-items: center;
            transform: scale(1);
            transition: all $transition;
            cursor: pointer;
            svg {
                width: 30px;
                height: 28px;
                fill: $green;
                transition: all $transition;
            }
            input {
                font-size: 20px;
                font-weight: 500;
                color: $green;
                border: none;
                background-color: transparent;
                margin-left: 8px;
                outline: none;
                transition: all $transition;
            }
        }
        &__btn:focus,
        &__btn:hover,
        &__btn:active {
            transform: scale(0.98);
        }
    }
    .map {
        border-radius: 23px;
        overflow: hidden;
    }
}

/* #masters-nearby */

@import "media";
