.blog {
    padding: 54px 0 0;
}

.blog__inner {
    display: flex;
    justify-content: space-between;
}

.blog-news {
    max-width: 790px;
    width: 100%;
}

.blog-news-item {
    display: flex;
    margin-bottom: 40px;
}

.blog-news-itemline {
    max-width: 400px;
    width: 100%;
    min-height: 398px;
    position: relative;
    &__row {
        position: absolute;
        background-color: $yel;
        z-index: 10;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
    &__row:nth-child(1) {
        width: 2px;
        height: 0;
        top: 0;
        left: 0;
    }
    &__row:nth-child(2) {
        width: 0;
        height: 2px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &__row:nth-child(3) {
        width: 2px;
        height: 0;
        top: 0;
        right: 0;
    }
    &__row:nth-child(4) {
        width: 2px;
        height: 0;
        right: 0;
        bottom: 0;
    }
    &__row:nth-child(5) {
        width: 0;
        height: 2px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
    &__row:nth-child(6) {
        width: 2px;
        height: 0;
        left: 0;
        bottom: 0;
    }
}
.blog-news-item__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    .fa-eye {
        color: #fff;
    }
    .svg-inline--fa.fa-eye {
        width: 55px;
        height: 55px;
    }
}
.blog-news-item__img {
    max-width: 400px;
    width: 100%;
    min-height: 398px;
    overflow: hidden;
    &-wrap {
        width: 400px;
        height: 398px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transform: scale(1);
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}
.blog-news-item__img-wrap {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: rgba($yel, 0);
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}

.blog-news-item__wrap {
    padding-left: 30px;
}

.blog-news-item__wrap-tag {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #000;
    margin: 47px 0 22px 0;
}
.blog-news-item__wrap-title {
    max-width: 360px;
    width: 100%;
    font-size: 20px;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
    a {
        color: #000;
    }
}
.blog-news-item__data {
    display: flex;
    margin-bottom: 26px;
    span {
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #8f8f8f;
    }
    span + span {
        margin-left: 8px;
    }
}
.blog-news-item__subtext {
    max-width: 360px;
    width: 100%;
    font-size: 16px;
    color: $grey;
    margin-bottom: 45px;
}
.blog-news-item__wrap-btn {
    a {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        color: #aeaeae;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        &:hover {
            color: $yel;
        }
    }
}

.blog-news-item:hover {
    .blog-news-itemline {
        &__row:nth-child(1) {
            height: 60%;
        }
        &__row:nth-child(2) {
            width: 100%;
        }
        &__row:nth-child(3) {
            height: 25%;
        }
        &__row:nth-child(4) {
            height: 25%;
        }
        &__row:nth-child(5) {
            width: 100%;
        }
        &__row:nth-child(6) {
            height: 12%;
        }
    }
    .blog-news-item__icon {
        opacity: 1;
    }
    .blog-news-item__img {
        &-wrap {
            transform: scale(0.9);
        }
    }
    .blog-news-item__img-wrap {
        &::before {
            background-color: rgba($yel, 0.7);
        }
    }
    .blog-news-item__wrap-tag {
        color: $yel;
    }
}

.blog-news-breadcrumb {
    display: flex;
    justify-content: center;
    padding-top: 54px;
}

.blog-sidebar {
    max-width: 270px;
    width: 100%;
}

.blog-sidebar-item {
    max-width: 270px;
    width: 100%;
    min-height: 100px;
}
.blog-sidebar-item,
.blog-sidebar-banner {
    margin-bottom: 35px;
}

.blog-sidebar-item__title {
    padding: 1px 15px 15px 0;
    span {
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        letter-spacing: 0.28px;
        color: #737373;
    }
}

.blog-sidebar-item__menu {
    max-width: 100%;
    width: 100%;
    border-top: 2px solid $yel;
    border-bottom: 2px solid $yel;
    padding: 26px 24px 26px 24px;
    position: relative;
    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 2px;
        background-color: $yel;
        z-index: 10;
    }
    &::after {
        left: 0;
        height: 55%;
    }
    &::before {
        right: 0;
        height: 20%;
    }
    .blog-sidebar-item__line:nth-child(1) {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 2px;
        height: 25%;
        background-color: $yel;
    }
    .blog-sidebar-item__line:nth-child(2) {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 2px;
        height: 40%;
        background-color: $yel;
    }
}

.blog-sidebar-item__line {
    z-index: 2;
}

.blog-sidebar-menu__list {
    li {
        border-bottom: 1px solid #ebebeb;
    }
    li:last-child {
        border-bottom: 0;
    }
    a {
        width: 100%;
        font-size: 14px;
        line-height: 35px;
        letter-spacing: 0.28px;
        color: #737373;
        padding: 0 15px 0 20px;
        position: relative;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        &::before {
            content: "";
            position: absolute;
            left: 2px;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            background-color: $yel;
        }
        &:hover {
            color: $yel;
        }
    }
}

.blog-sidebar-item__search {
    border-top: 2px solid $yel;
    border-bottom: 2px solid $yel;
    position: relative;
    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 2px;
        background-color: $yel;
        z-index: 10;
    }
    &::after {
        left: 0;
        height: 50%;
    }
    &::before {
        right: 0;
        height: 20%;
    }
    .blog-sidebar-item__line:nth-child(1) {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 2px;
        height: 20%;
        background-color: $yel;
    }
    .blog-sidebar-item__line:nth-child(2) {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 2px;
        height: 25%;
        background-color: $yel;
    }
}

.blog-sidebar-search__input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    color: #939393;
    padding: 8px 54px 8px 24px;
    position: relative;
    transition: all 0.1s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &::placeholder {
        color: #939393;
        transition: all 0.1s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
    &:focus {
        color: $yel;
        &::placeholder {
            color: $yel;
        }
    }
}

.blog-sidebar-search__inner {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
}

.blog-sidebar-search__label {
    position: relative;
    span {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        .fa-search {
            color: $yel;
            transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        }
        .svg-inline--fa.fa-search {
            width: 15px;
            height: 15px;
        }
    }
}
.blog-sidebar-search__submit {
    width: 15px;
    height: 15px;
    border: none;
    background-color: transparent;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}

.blog-sidebar-search__label:hover {
    span {
        .fa-search {
            color: #939393;
        }
    }
}

.blog-sidebar-banner__img {
    width: 270px;
    height: 300px;
    source,
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.blog-sidebar-item__news {
    max-width: 100%;
    width: 100%;
    border-top: 2px solid $yel;
    border-bottom: 2px solid $yel;
    padding: 0 24px 0 24px;
    position: relative;
    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 2px;
        background-color: $yel;
        z-index: 10;
    }
    &::after {
        left: 0;
        height: 60%;
    }
    &::before {
        right: 0;
        height: 18%;
    }
    .blog-sidebar-item__line:nth-child(1) {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 2px;
        height: 25%;
        background-color: $yel;
    }
    .blog-sidebar-item__line:nth-child(2) {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 2px;
        height: 33%;
        background-color: $yel;
    }
}

.blog-sidebar-item-news__list {
    li {
        border-bottom: 1px solid #ebebeb;
    }
    li:last-child {
        border-bottom: 0;
    }
    a {
        color: $grey7d;
    }
}
.blog-sidebar-item-news__li {
    &-inner {
        display: flex;
        align-items: center;
    }
    &-title {
        color: $yel;
        margin-bottom: 5px;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
    &-subtitle {
        letter-spacing: normal;
        color: $grey7d;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}
.blog-sidebar-item-news__li {
    a {
        width: 100%;
        padding: 25px 0;
    }
}
.blog-sidebar-item-news__li-wrap {
    width: 175px;
    margin-left: 18px;
}
.blog-sidebar-item-news__li-img {
    max-width: 70px;
    width: 100%;
    min-height: 70px;
    overflow: hidden;
    &-box {
        width: 70px;
        height: 70px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}
.blog-sidebar-item-news__li:hover {
    .blog-sidebar-item-news__li {
        &-title {
            color: $grey7d;
        }
        &-subtitle {
            color: $yel;
        }
    }
}

.blog-sidebar-item__tagcloud {
    max-width: 100%;
    width: 100%;
    border-top: 2px solid $yel;
    border-bottom: 2px solid $yel;
    padding: 30px 24px 30px 24px;
    position: relative;
    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 2px;
        background-color: $yel;
        z-index: 10;
    }
    &::after {
        left: 0;
        height: 60%;
    }
    &::before {
        right: 0;
        height: 18%;
    }
    .blog-sidebar-item__line:nth-child(1) {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 2px;
        height: 25%;
        background-color: $yel;
    }
    .blog-sidebar-item__line:nth-child(2) {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 2px;
        height: 33%;
        background-color: $yel;
    }
}

.blog-sidebar-tagcloud__list {
    display: flex;
    flex-wrap: wrap;
    li + li {
        margin-left: 5px;
    }
}

.tagcloud {
    line-height: 40px;
    a {
        color: $grey7d;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}

.tagcloud--h6 {
    font-size: 14px;
    letter-spacing: 0.28px;
}
.tagcloud--h5 {
    font-size: 15px;
    letter-spacing: 0.3px;
}
.tagcloud--h4 {
    font-size: 16px;
    letter-spacing: 0.32px;
}
.tagcloud--h3 {
    font-size: 22px;
    letter-spacing: 0.44px;
}
.tagcloud--h2 {
    font-size: 30px;
    letter-spacing: 0.6px;
}
.tagcloud--h1 {
    font-size: 45px;
    letter-spacing: 0.9px;
}

.tagcloud:hover {
    a {
        color: $yel;
    }
}

.headermain-blockline-btn--mod {
    width: 424px;
}

.blog-detail {
    max-width: 870px;
    width: 100%;
    &__inner {
        margin-bottom: 36px;
    }
}

.blog-detail-item {
    .blog-news-item__wrap-tag {
        margin: 0 0 22px 0;
    }
    .blog-news-item__wrap-title,
    .blog-news-item__subtext {
        max-width: 100%;
    }
}
.blog-detail-item__inner {
    padding: 0 90px 0 98px;
}
.blog-detail-item__inner--1 {
    padding: 40px 90px 0 98px;
}

.blog-detail-box__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-detail__img {
    width: 100%;
    height: 398px;
    overflow: hidden;
    source,
    img {
        width: 100%;
        height: 398px;
        object-fit: cover;
        object-position: center center;
    }
}

.blog-detail-box__img {
    width: 421px;
    height: 398px;
    overflow: hidden;
    margin-bottom: 28px;
    source,
    img {
        width: 421px;
        height: 398px;
        object-fit: cover;
        object-position: center center;
    }
}


.blog-comment {
    width: 100%;
    padding: 0 90px 0 98px;
}
.blog-comment__wrapper,
.blog-your-comment__inner {
    width: 100%;
    position: relative;
    margin-bottom: 46px;
    &::before {
        content: "";
        position: absolute;
        top: 63px;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: $yel;
    }
    &-title,
    &-subtitle {
        text-transform: uppercase;
    }
    &-title {
        font-size: 22px;
        font-weight: 500;
        color: #000000;
        margin-bottom: 5px;
    }
    &-subtitle {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.28px;
        color: #858585;
    }
}

.blog-comment-message__list {
    li {
        margin-bottom: 32px;
    }
}
.blog-comment-message-item {
    max-width: 770px;
    width: 100%;
    min-height: 171px;
    background-color: #fff;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    padding: 36px 30px 34px 32px;
    position: relative;
    &__inner {
        display: flex;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: #f0f0f0;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}
.blog-comment-message-item__img {
    max-width: 70px;
    width: 100%;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    source,
    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        object-position: center center;
    }
}
.blog-comment-message-item__wrap {
    margin-left: 25px;
    &-title,
    &-subtitle {
        line-height: 25px;
    }
    &-title {
        font-weight: 600;
        text-transform: uppercase;
        color: #242424;
        margin-bottom: 6px;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
    &-subtitle {
        margin-bottom: 5px;
    }
}
.blog-comment-message-item__wrap-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 16px;
    letter-spacing: 0.24px;
    color: #939393;
    margin-bottom: 2px;
    a {
        text-transform: uppercase;
        color: #939393;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        &:hover {
            color: $yel;
        }
    }
}

.blog-comment-message-item:hover {
    &::before {
        height: 5px;
    }
    .blog-comment-message-item__wrap {
        &-title {
            color: $yel;
        }
    }
}

.blog-comment--your {
    max-width: 570px;
    margin-left: auto;
}

.blog-your-comment {
    width: 100%;
    margin-bottom: 85px;
}

.comment-form {
    &__name,
    &__email {
        max-width: 370px;
        width: 100%;
        min-height: 50px;
    }
    &__email {
        max-width: 270px;
    }
    &__name,
    &__email,
    &__textarea {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.28px;
        color: #313131;
        padding: 9px 33px;
        background-color: #fff;
    }
    &__textarea {
        width: 100%;
        height: 88px;
        resize: vertical;
        margin-bottom: 23px;
    }
    &__name,
    &__email,
    &__textarea,
    &__btn {
        border: none;
        outline: none;
    }
}
.comment-form__name,
.comment-form__email,
.comment-form__textarea {
    border: 1px solid #dddddd;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &::placeholder {
        color: #313131;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
    &:focus {
        color: $yel;
        border: 1px solid $yel;
        &::placeholder {
            color: $yel;
        }
    }
}
.comment-form__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
}
.comment-form__btn {
    width: 199px;
    height: 42px;
    background-color: $yel;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &:hover,
    &:focus {
        background-color: #fff;
        color: $yel;
    }
}
