.faq {
    padding: 64px 0 0;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.faq__item {
    margin-bottom: 50px;
}

.faq-item {
    display: flex;
}

.faq-item-number__inner {
    width: 140px;
    height: 200px;
    font-size: 50px;
    line-height: 54px;
    letter-spacing: 2.5px;
    color: #222222;
    border: 2px solid rgba($yel, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
}

.faq-info {
    margin-left: 30px;
    max-width: 400px;
    width: 100%;
    min-height: 200px;
    border-top: 2px solid #d1d1d1;
    border-left: 2px solid #d1d1d1;
    padding: 38px 30px 40px 45px;
    position: relative;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: #d1d1d1;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
    &::before {
        left: 0;
        bottom: 0;
        width: 20px;
        height: 2px;
    }
    &::after {
        top: 0;
        right: 0;
        width: 2px;
        height: 30%;
    }
}

.faq-info__subtitle {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #656565;
    margin-bottom: 15px;
}
.faq-info__title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #363636;
    margin-bottom: 25px;
}

.faq-info-subtext {
    color: #afafaf;
}
.faq-info-subtext__inner {
    height: 0;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
}

.faq-info__btn {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: #aeaeae;
    position: absolute;
    left: 30px;
    bottom: -12px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    span:nth-child(2) {
        display: none;
    }
    &:hover {
        color: $yel;
    }
}

.faq-item {
    &.active {
        .faq-info {
            border-top: 2px solid $yel;
            border-left: 2px solid $yel;
            &::before,
            &::after {
                background-color: $yel;
            }
        }
        .faq-info-subtext__inner {
            height: 300px;
        }
        .faq-item-number__inner {
            border: 2px solid rgba($yel, 1);
        }
        .faq-info__btn {
            color: $yel;
            span:nth-child(1) {
                display: none;
            }
            span:nth-child(2) {
                display: block;
            }
            &:hover {
                color: #aeaeae;
            }
        }
    }
}
