html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  background-color: #fff;
  color: $grey;
  min-width: 320px;
  overflow-x: hidden;
}
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: transparent;
}
footer,
header,
menu {
  display: block;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  outline: none;
}
ul,
li {
  list-style: none;
}
input,
select {
  vertical-align: middle;
}
picture {
  display: flex;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.container-slider {
  max-width: 1272px;
  margin: 0 auto;
}
.container-fullhd {
  max-width: 1920px;
  margin: 0 auto;
}

.rel {
  position: relative;
}

.title,
.subtitle,
.mintext {
  text-transform: uppercase;
}
.title {
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  color: $black;
}
.subtitle {
  font-weight: 600;
  letter-spacing: 4.8px;
  color: $fgrey;
}
.subtext {
  color: $grey;
}
.mintext {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.48px;
  color: $black;
}
.item-subtitle {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.28px;
  color: #949494;
}

.P {
  margin: 30px 0;
}

.fa-skype,
.fa-facebook-f,
.fa-facebook-square,
.fa-google-plus-g,
.fa-twitter,
.fa-youtube,
.fa-chevron-up,
.fa-vimeo-v {
  color: $grey;
  transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
}

.svg-inline--fa.fa-skype,
.svg-inline--fa.fa-facebook-f,
.svg-inline--fa.fa-vimeo-v {
  width: 13px;
  height: 13px;
}
.svg-inline--fa.fa-google-plus-g {
  width: 19px;
  height: 19px;
}
.svg-inline--fa.fa-twitter {
  width: 15px;
  height: 15px;
}
.svg-inline--fa.fa-youtube {
  width: 17px;
  height: 17px;
}

.svg-inline--fa.fa-search {
  width: 14px;
  height: 14px;
}
.svg-inline--fa.fa-chevron-up {
  width: 23px;
  height: 23px;
}

.headernav-left,
.headernav-right {
  box-shadow: 0px 27px 114px 0 rgba(0, 0, 0, 0.09);
}

.slider-arrow-btn {
  display: flex;
}

.slider-mobile-arrow-btn {
  display: flex;
  justify-content: space-between;
}

.slider-arrow {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  color: $fgrey;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
  &:hover {
    color: $black;
  }
}
.slider-arrow__next {
  margin-left: 58px;
}

.footerlabel {
  padding: 166px 0 82px;
  text-align: center;
}

.footerlabel-btn__inner {
  width: 126px;
  height: 188px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 126px;
    height: 0;
    background-color: $fgrey;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
  }
  .btnplus {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-bottom: initial !important;
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &-row {
      background-color: #fff;
    }
  }
  .mintext {
    color: #fff !important;
  }
  .footerlabel-btn-more {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
  }
}
.footerlabel-btn__item {
  width: 126px;
  height: 188px;
  border-top: 5px solid $yel;
  border-bottom: 5px solid $yel;
  position: relative;
  transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 5px;
    background-color: $yel;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
  }
  &::before {
    height: 40px;
    left: 0;
  }
  &::after {
    height: 52px;
    right: 0;
  }
}

.footerlabel-btn-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 38px;
  background-color: $yel;
  transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
  & + & {
    left: initial;
    right: 0;
    height: 30px;
  }
}

.footerlabel-btn-wrap {
  width: 530px;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
}
.footerlabel-btn-wrap__title {
  font-size: 50px;
  line-height: 52px;
  font-weight: 300;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 6px;
  transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
  span {
    font-weight: 600;
    color: $yel;
  }
}
.footerlabel-btn-wrap__subtitle {
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
}

.footerlabel-btn:hover {
  .footerlabel-btn__inner {
    &::before {
      height: 188px;
    }
    .btnplus {
      transform: translate(-50%, -50%) rotate(180deg) scale(1.3);
      &-row {
        height: 3px;
      }
    }
    .footerlabel-btn__item {
      border-top: 5px solid rgba($fgrey, 0);
      border-bottom: 5px solid rgba($fgrey, 0);
      &::before,
      &::after {
        height: 0;
        background-color: $fgrey;
      }
    }
    .footerlabel-btn-row {
      height: 0;
      background-color: $fgrey;
    }
    .footerlabel-btn-wrap {
      width: 320px;
    }
    .footerlabel-btn-wrap__title {
      font-size: 30px;
      margin-top: -120px;
    }
    .footerlabel-btn-wrap__subtitle {
      opacity: 0;
    }
    .footerlabel-btn-more {
      opacity: 1;
    }
  }
}

.breadcrumb {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    a {
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.28px;
    }
  }
}
.breadcrumb-item-name {
  a {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #1a1a1a;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
  }
}
.breadcrumb-item-name:hover {
  a {
    color: $yel;
  }
}
.breadcrumb-item {
  a {
    width: 25px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
  }
}
.breadcrumb-item--active {
  a {
    color: $yel;
    border: 2px solid $yel;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
  }
}
.breadcrumb-item:hover {
  a {
    color: $yel;
  }
}

.detail-item-social {
  border-top: 1px solid #e6e6e6;
}
.detail-item-social__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 90px 30px 98px;
}
.detail-item-social__title {
  font-size: 14px;
  font-weight: 500;
  color: #8f8f8f;
}

.detail-item-social__wrap {
  .social__list {
    height: 20px;
    display: flex;
    align-items: center;
    li + li {
      margin-left: 22px;
    }
    li {
      a {
        width: initial;
        height: initial;
      }
    }
  }
  .social__list {
    li:hover {
      a {
        background-color: initial;
        .fa-skype,
        .fa-facebook-f,
        .fa-google-plus-g,
        .fa-twitter,
        .fa-vimeo-v,
        .fa-youtube {
          color: $yel;
        }
      }
    }
  }
}

.linkpage {
  margin-bottom: 74px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.linkpage__items {
  a {
    display: flex;
    align-items: center;
    max-width: 369px;
    width: 100%;
    min-height: 207px;
  }
}
.linkpage-item__img {
  width: 170px;
  height: 207px;
  overflow: hidden;
  position: relative;
  source,
  img {
    width: 170px;
    height: 207px;
    object-fit: cover;
    object-position: center center;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba($yel, 0.6);
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
  }
  &::after {
    content: "";
    position: absolute;
    right: -27px;
    bottom: 23px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    mask-image: url(../images/long-arrow-alt-left-solid.svg);
    mask-repeat: no-repeat;
    mask-position: center center;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
  }
}
.linkpage-item__img--mod {
  &::after {
    left: -27px;
    bottom: 23px;
    mask-image: url(../images/long-arrow-alt-right-solid.svg);
  }
}

.linkpage-item {
  &__subtext {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #656565;
    margin-bottom: 3px;
  }
  &__title {
    font-weight: 600;
    text-transform: uppercase;
    color: $blackF;
    margin-bottom: 5px;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
  }
  &__subtitle {
    margin-bottom: 45px;
  }
}

.linkpage-item__wrap {
  display: flex;
  align-items: center;
}
.linkpage-item__wrap-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  source,
  img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center center;
  }
}
.linkpage-item__wrap-name {
  margin-left: 10px;
}
.linkpage-item--2 {
  margin-left: 30px;
}

.linkpage-item--order2 {
  order: 2;
}
.linkpage-item--order1 {
  order: 1;
  margin-right: 30px;
}

.linkpage__items:hover {
  .linkpage-item__img {
    &::before {
      height: 100%;
    }
    &::after {
      right: 27px;
      opacity: 1;
    }
  }
  .linkpage-item__img--mod {
    &::after {
      left: 27px;
    }
  }
  .linkpage-item {
    &__title {
      color: $yel;
    }
  }
}

.mfp-close {
  transition: all 0.3s;
  &:hover {
    color: $yel;
  }
}

.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.12s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.12s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.sources-and-credits {
  display: none;
  padding: 20px 0 45px;
}
.sources-and-credits__popup-window {
  max-width: 600px;
  width: 100%;
  min-height: 350px;
  background-color: $fgrey;
  background-image: url(../images/sources-and-credits-img-bg.jpg);
  background-image: url(../images/sources-and-credits-img-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 48px 20px 20px 52px;
  margin: 0 auto;
  position: relative;
  ul,
  li {
    color: #fff;
    list-style: disc;
  }
  .mfp-close {
    background-color: rgba(#fff, 0.6);
    opacity: 1;
    color: $grey;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &:hover {
      background-color: rgba(#fff, 1);
      color: $yel;
    }
  }
}
.sources-and-credits__popup-list {
  a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    position: sticky;
    z-index: 1;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      background-color: $yel;
      border-radius: 2px;
      transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
      z-index: -1;
    }
  }
}
.sources-and-credits__popup-list {
  a:hover {
    color: #fff;
    &::before {
      width: 100%;
      height: 25px;
      box-shadow: 0px 27px 114px 0 rgba(0, 0, 0, 0.09);
    }
  }
}
.sources-and-credits__popup-btn {
  text-align: center;
  a {
    font-weight: 600;
    letter-spacing: 0.48px;
    color: #fff;
    text-transform: uppercase;
    background-color: $yel;
    padding: 4px 23px;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &:hover {
      color: $grey;
      background-color: #fff;
    }
  }
}
