@media (max-width: 1634px) {
    .services__inner {
        flex-direction: column;
        padding: 0 20px;
    }
    .services__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        margin-right: 0;
    }
    .services-img {
        max-width: 100%;
        min-height: auto;
        margin-bottom: 36px;
        display: flex;
        justify-content: center;
        order: 1;
        source,
        img {
            height: 390px;
        }
    }
    .services {
        padding: 115px 0 0;
    }
}

@media (max-width: 1580px) {
    .block-flex-info {
        max-width: 483px;
    }
}

@media (max-width: 1365px) {
    .blog-news,
    .blog-sidebar,
    .blog-detail {
        margin: 0 auto;
    }
    .blog__inner {
        flex-direction: column;
    }
    .blog-sidebar {
        max-width: 790px;
    }
    .blog-sidebar-item {
        max-width: 100%;
    }
    .blog-sidebar-banner {
        display: none;
    }
    .blog-detail {
        margin-bottom: 30px;
    }
    .portfolio-block__list {
        flex-direction: column;
        align-items: center;
    }
    .portfolio-derails__img {
        margin-bottom: 36px;
    }
    .portfolio-item-info__inner--details1 {
        max-width: 100%;
        width: 100%;
    }
    .portfolio-derails__item--box1 {
        flex-direction: column;
        align-items: center;
    }
    .faq {
        &__inner {
            flex-direction: column;
            align-items: center;
            padding: 0 10px;
        }
    }
    .team {
        &__inner {
            justify-content: space-around;
        }
    }
    .team__item {
        margin: 0 15px 80px 15px;
    }
    .contact__inner {
        flex-direction: column;
        align-items: center;
    }
    .contact__item {
        margin-bottom: 36px;
    }
    .error {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 1332px) {
    .headernav-left {
        max-width: 100%;
        min-height: 80px;
        box-shadow: 0px 7px 29px 0 rgba(0, 0, 0, 0.09);
        &__btn {
            width: 80px;
            height: 80px;
        }
    }
    .headernav-left__inner {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .headernav-right {
        max-width: 80px;
        min-height: 80px;
        box-shadow: initial;
        &__inner {
            max-width: 80px;
            min-height: 80px;
        }
        .social,
        .header-arrow {
            display: none;
        }
    }
    .search-btn {
        position: initial;
        top: 0;
        &__inner {
            height: 80px;
        }
    }
    .headerline {
        display: none;
    }
    .headermain-info {
        left: 185px;
    }
}

//Media slider

@media (max-width: 1225px) {
    .container--padding {
        padding: 0 20px;
    }
    .project-mobile-slider-arrows {
        max-width: 1170px;
        width: 100%;
    }
}

@media (max-width: 1230px) {
    .services-block {
        padding: 115px 0 0;
    }
    .services-block-item__list {
        justify-content: space-around;
        li {
            margin: 0 15px 31px;
        }
    }
}

@media (max-width: 1200px) {
    .block {
        padding: 400px 0;
    }
    .block__items,
    .block-box__inner {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
    .block__item-img {
        margin-bottom: 36px;
    }
    .block__item-img,
    .block-box__item-img {
        min-height: auto;
    }
    .block__item-btn {
        margin-top: 25px;
        a {
            width: 172px;
            height: 58px;
            &::before {
                width: 0;
                height: 58px;
            }
            span {
                font-weight: 600;
            }
        }
    }
    .block-btn__wrap {
        width: 130px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
    }
    .btnplus {
        margin-bottom: 0;
        margin-right: 15px;
    }
    .block__item-btn {
        a:hover {
            &::before {
                width: 172px;
                height: 58px;
            }
            .btnplus {
                transform: scale(1.1) rotate(180deg);
            }
            span {
                transform: scale(1.1);
            }
        }
    }
    .block__item--2 {
        padding-top: 0;
        margin-bottom: 36px;
    }
    .block-item--margin {
        margin-bottom: 0;
    }
    .block--mod2,
    .block--mod3 {
        padding: 115px 0 75px;
    }
    .block__inner--mod {
        position: relative;
        top: initial;
    }
    .block-box {
        padding: 115px 0 0;
    }
    .block-box__item--1 {
        order: 1;
    }
    .block-box__item--2 {
        order: 2;
    }
    .block-box__item {
        &-title {
            padding-top: 0;
            margin-bottom: 0;
        }
    }
    .block-box-item--padding {
        padding-top: 36px;
    }
    .block-flex {
        padding: 115px 0 0;
    }
    .block-flex__inner {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
    .block-flex-img {
        max-width: 100%;
        width: 100%;
        min-height: auto;
        overflow: hidden;
        source,
        img {
            max-width: 100%;
            width: 100%;
            min-height: auto;
            height: 390px;
            object-fit: cover;
            object-position: center center;
        }
    }
    .block-flex-info {
        max-width: 100%;
        margin-left: 0;
        padding-top: 36px;
        &__title {
            padding: 0;
        }
    }
}

@media (max-width: 1140px) {
    .headermain-info {
        top: 50%;
        left: 80px;
        transform: translateY(-50%);
    }
    .header--mod {
        padding-top: 79px;
    }
    .header--mod,
    .headermain__img--mod {
        min-height: 390px;
    }
}

@media (max-width: 960px) {
    .menu__list {
        padding: 2px 0 120px;
        li {
            a {
                height: 50px;
            }
        }
        li {
            &::before {
                height: 50px;
            }
        }
    }
    .headermain-info {
        left: 30px;
    }
    .headermain-info-blockline__btn {
        a:hover {
            .headermain-info-blockline-btn__wrap {
                left: 34px;
            }
        }
    }
    .headermain-info-blockline-btn__wrap {
        width: 275px;
        top: 56px;
        &-title {
            font-size: 24px;
            line-height: 25px;
            font-weight: 600;
        }
        &-subtitle {
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 2px;
        }
    }
    .column-info-block {
        flex-direction: column;
        align-items: center;
    }
    .column-block__inner {
        a {
            max-width: 100%;
            width: 100%;
            padding: 40px 40px 40px 40px;
            &::before {
                width: 100%;
            }
        }
    }
    .column-info-block__item {
        width: 100%;
        height: 390px;
    }
    .column-info-block__item:nth-child(1) {
        .column-block {
            right: initial;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .column-info-block__item:nth-child(2) {
        .column-block {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .column-info-block__item:hover {
        .column-block__inner {
            a {
                padding: 40px 40px 40px 40px;
            }
        }
    }
    .blog-detail-item__inner {
        padding: 0 20px 0 20px;
    }
    .blog-detail-item__inner--1 {
        padding: 40px 20px 0 20px;
    }
    .detail-item-social__inner {
        padding: 30px 20px 30px 20px;
    }
    .blog-comment {
        padding: 0 20px;
    }
    .blog-comment--your {
        margin-left: initial;
    }
    .linkpage {
        &__inner {
            flex-direction: column;
            align-items: center;
            justify-content: initial;
        }
    }
    .linkpage__items {
        a {
            max-width: 100%;
        }
    }
    .blog-comment-message-item {
        max-width: 100%;
        padding: 10px;
    }
    .blog-comment-message-item__wrap {
        margin-left: 10px;
    }
}

@media (max-width: 870px) {
    .blog-detail-box__inner {
        justify-content: space-around;
    }
    .blog-detail-box__img {
        margin: 0 15px 28px 15px;
    }
}

@media (max-width: 864px) {
    .blog-news-item {
        flex-direction: column;
        align-items: center;
    }

    .blog-news-item:hover {
        .blog-news-itemline {
            .blog-news-item__img {
                &-wrap {
                    transform: scale(1);
                }
            }
        }
    }
}

@media (max-width: 780px) {
    .inline-btn {
        &__inner {
            flex-direction: column;
        }
    }
    .inline-btn__item {
        a {
            min-height: 322px;
            padding: 50px 40px 50px 40px;
            text-align: center;
            &::before {
                max-width: 0;
                min-height: 322px;
            }
        }
    }
    .inline-btn__item {
        a:hover {
            &::before {
                max-width: 100%;
                min-height: 322px;
            }
            .inline-btn__item-more {
                opacity: 1;
            }
        }
    }
    .footer {
        padding: 56px 20px;
        &__inner {
            flex-direction: column;
        }
    }
    .footer-nav {
        width: 362px;
    }
    .footer-nav__list {
        margin-bottom: 36px;
    }
    .headermain-info--mod {
        flex-direction: column;
    }
    .header-breadcrumb {
        height: initial;
        margin-left: 0;
        padding-top: 30px;
    }
}

@media (max-width: 768px) {
    .footerlabel {
        padding: 100px 0 82px;
    }
    .footerlabel-btn-wrap {
        width: 200px;
        top: 50px;
    }
    .footerlabel-btn-wrap__title {
        font-size: 18px;
        line-height: 22px;
    }
    .footerlabel-btn-wrap__subtitle {
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        letter-spacing: 0.8px;
    }

    .footerlabel-btn:hover {
        .footerlabel-btn__inner {
            .footerlabel-btn-wrap__title {
                font-size: 20px;
                line-height: 20px;
                margin-top: -90px;
            }
        }
    }
}

@media (max-width: 714px) {
    .comment-form__inner {
        flex-direction: column;
        margin-bottom: 26px;
    }
    .comment-form__name {
        margin-bottom: 26px;
    }
    .comment-form__name,
    .comment-form__email {
        max-width: 100%;
    }
    .error-box {
        max-width: initial;
        width: initial;
        min-height: initial;
    }
    .error-box-img__block {
        top: 10px;
        left: 10px;
        right: initial;
        bottom: initial;
    }
    .error-box-img {
        width: 374px;
        height: 340px;
        img {
            width: 374px;
            height: 340px;
        }
    }
    .error__item {
        max-width: 100%;
        width: 100%;
        min-height: 0;
        padding: 46px 20px 40px 20px;
        text-align: center;
    }
    .error-form__input {
        width: 100%;
    }
}

@media (max-width: 620px) {
    .portfolio-block {
        margin-bottom: 15px;
    }
    .portfolio-item__img {
        width: 375px;
        height: 500px;
        &::before {
            width: 375px;
        }
        source,
        img {
            width: 375px;
            height: 500px;
        }
    }
    .portfolio-item-info {
        left: 10px;
        right: 10px;
        bottom: 10px;
        transform: translateX(0);
    }
    .portfolio-item-info__inner {
        max-width: 100%;
        width: 100%;
        padding: 20px;
    }
    .portfolio-item-info__title,
    .portfolio-item-info__wrap {
        width: 100%;
    }
    .portfolio-item:hover {
        .portfolio-item__img {
            &::before {
                height: 500px;
            }
        }
    }
    .faq-info {
        margin-left: 15px;
    }
    .faq-item-number__inner {
        width: 90px;
        height: 100px;
        font-size: 42px;
        line-height: 45px;
    }
    .faq-info {
        padding: 20px;
    }
    .contact-nav__inner {
        flex-direction: column;
    }
    .contact-nav__item {
        width: 100%;
        height: initial;
        min-height: 215px !important;
        padding: 26px 20px 26px 20px;
    }
    .contact-nav__item:hover {
        &::before {
            transform: translate(-50%, -50%) scale(2);
        }
    }
    .contact-nav-item--order1 {
        order: 1;
    }
    .contact-nav-item--order2 {
        order: 2;
    }
    .contact-nav-item--order4 {
        order: 3;
    }
    .contactfeedback-social {
        .social__list {
            padding: 0 15px;
        }
    }
}

@media (max-width: 586px) {
    .headermain-info {
        left: 15px;
    }
}

@media (max-width: 565px) {
    .portfolio-derails-item {
        padding: 29px 20px 22px 20px;
    }
    .linkpage-inner--mobile {
        a {
            flex-direction: column;
        }
    }
    .linkpage-item--mobile {
        margin-left: 15px;
    }
    .linkpage-item--order1 {
        order: 2;
        margin-right: 15px;
    }
    .linkpage-item--order2 {
        order: 1;
    }
    .linkpage-item--portfolio {
        margin-bottom: 30px;
    }
    .linkpage-item-img--portfolio {
        margin-bottom: 20px;
    }
    .linkpage-item-img--portfolio {
        max-width: 100%;
        width: 100%;
        min-height: 207px;
        source,
        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 540px) {
    .header-search-form__inner {
        width: 385px;
    }
    .header-search-form__input {
        width: 320px;
    }
    .header-search-form__input:focus {
        width: 280px;
        transform: scale(1.1);
        &::placeholder {
            transform: scale(1.1);
        }
    }
    .header-search-form__label {
        .svg-inline--fa.fa-search {
            width: 22px;
            height: 22px;
        }
    }
    .header-search-form__label:hover {
        .svg-inline--fa.fa-search {
            transform: scale(1.1);
        }
    }
    .headsearch-close,
    .menu-close {
        width: 80px;
        height: 80px;
        &::before {
            height: 80px;
        }
    }
    .headsearch-close:hover,
    .menu-close:hover {
        &::before {
            width: 80px;
        }
    }
    .block--mod1 {
        padding: 360px 0;
    }
    .team-item {
        padding: 10px;
        min-height: 515px;
    }
    .team-item__img {
        margin-bottom: 16px;
    }
}

@media (max-width: 490px) {
    .faq-item {
        flex-direction: column;
    }
    .faq-info {
        margin-left: 0;
    }
    .faq-item-number__inner {
        width: 100%;
        border-bottom: 0px solid $yel !important;
    }
}

@media (max-width: 460px) {
    .header-search-form__inner {
        width: 300px;
    }
    .header-search-form__input {
        width: 265px;
        padding: 0;
    }
    .header-search-form__input:focus {
        width: 240px;
    }
    .headermain-info-blockline-btn__wrap {
        width: 190px;
        top: 66px;
        &-title {
            font-size: 16px;
            line-height: 18px;
        }
        &-subtitle {
            font-size: 13px;
            line-height: 14px;
        }
    }
    .block--mod1 {
        padding: 300px 0;
    }
    .block--mod2,
    .block--mod3 {
        padding: 70px 0 60px;
    }
    .error-box-img {
        width: 300px;
        height: 266px;
        img {
            width: 300px;
            height: 266px;
        }
    }
}

@media (max-width: 440px) {
    .title {
        font-size: 24px;
        line-height: 25px;
    }
    .subtitle {
        font-weight: 500;
        letter-spacing: 1.8px;
    }
    .block__item-title {
        margin-bottom: 5px;
    }
    .inline-btn__item-subtitle {
        letter-spacing: 0.5px;
    }
    .footer-nav {
        width: initial;
    }
    .footer-nav__list {
        flex-direction: column;
        align-items: center;
        li {
            margin-bottom: 12px;
        }
    }
    .blog-comment {
        padding: 0 5px;
    }
    .blog-comment-message-item {
        padding: 15px;
        &__inner {
            flex-direction: column;
            align-items: center;
        }
    }
    .blog-comment-message-item__img {
        margin-bottom: 24px;
    }
    .blog-comment-message-item__wrap {
        margin-left: 0;
    }
    .blog-comment-message__list {
        li {
            margin-bottom: 26px;
        }
    }
}

@media (max-width: 412px) {
    .portfolio-item__img {
        width: 300px;
        height: 425px;
        &::before {
            width: 300px;
        }
        source,
        img {
            width: 375px;
            height: 425px;
        }
    }
    .portfolio-item:hover {
        .portfolio-item__img {
            &::before {
                height: 425px;
            }
        }
    }
}

@media (max-width: 375px) {
    .block__inner--top {
        top: -44px;
    }
    .team-item {
        min-height: 500px;
        border: none;
        padding: 0;
        &::before,
        &::after {
            display: none;
        }
    }
    .team-item-social {
        .social__list {
            width: 224px;
        }
    }
    .team-item:hover {
        border-top: none;
        border-left: none;
    }
}
