.services {
    padding: 104px 0;
    &__inner {
        display: flex;
        justify-content: flex-end;
    }
}

.services__wrapper {
    margin-right: 52px;
}
.services__item {
    max-width: 764px;
    width: 100%;
    min-height: 168;
    display: flex;
    margin-bottom: 48px;
}

.services-img {
    max-width: 685px;
    width: 100%;
    min-height: 760px;
    overflow: hidden;
    source,
    img {
        max-width: 100%;
        width: 100%;
        min-height: auto;
        object-fit: cover;
        object-position: center center;
    }
}

.services-item__wrap {
    margin-left: 35px;
}
.services__item-icon {
    width: 55px;
    height: 55px;
    source,
    img {
        width: 55px;
        height: 55px;
    }
}
.services-item__wrap-title {
    margin: 17px 0 30px;
    span {
        font-weight: 600;
        transition: all 0.1s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}

.svg {
    width: 55px;
    height: 55px;
}
.svg path {
    transition: all 0.1s cubic-bezier(0.48, 0.24, 0.39, 0.77);
}

.services__item:hover {
    .svg path {
        fill: $yel !important;
    }
    .services-item__wrap-title {
        span {
            color: $yel;
        }
    }
}

.services-block-item__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        margin-bottom: 31px;
    }
    a {
        max-width: 370px;
        width: 100%;
        min-height: 370px;
        border: 1px solid rgba(#eaeaea, 1);
        padding: 56px 46px 40px 40px;
        transition: all 0.1s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}

.services-block-item__wrap {
    display: flex;
    .services-item__wrap-title {
        margin-left: 34px;
    }
}
.services-block-item__subtext {
    margin-top: -2px;
}

.services-block-item__list {
    a:hover {
        border: 1px solid rgba(#eaeaea, 0);
        box-shadow: 0px 7px 57px 0 rgba(0, 0, 0, 0.1);
    }
}
