.team {
    padding: 63px 0 0;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.team__item {
    margin-bottom: 80px;
}

.team-item {
    max-width: 371px;
    width: 100%;
    min-height: 530px;
    border-top: 2px solid #d1d1d1;
    border-left: 2px solid #d1d1d1;
    padding: 30px;
    position: relative;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: #d1d1d1;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
    &::before {
        left: 0;
        bottom: 0;
        width: 15px;
        height: 2px;
    }
    &::after {
        top: 0;
        right: 0;
        height: 30%;
        width: 2px;
    }
    &__title {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        color: #656565;
        margin-bottom: 4px;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        color: #aeaeae;
    }
}

.team-item__img {
    max-width: 310px;
    width: 100%;
    min-height: 390px;
    overflow: hidden;
    margin-bottom: 25px;
    source,
    img {
        max-width: 310px;
        width: 100%;
        height: 390px;
        object-fit: cover;
        object-position: center center;
    }
}
.team-item-social {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    .social__list {
        width: 310px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            a {
                width: 40px;
                height: 55px;
                border: 2px solid rgba($yel, 0);
                transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
            }
        }
        .svg-inline--fa.fa-skype,
        .svg-inline--fa.fa-facebook-square {
            width: 15px;
            height: 15px;
        }
    }
    .social__list {
        li:hover {
            a {
                border: 2px solid rgba($yel, 1);
                background-color: initial;
                .fa-skype,
                .fa-facebook-square,
                .fa-google-plus-g,
                .fa-twitter,
                .fa-vimeo-v,
                .fa-youtube {
                    color: $yel;
                }
            }
        }
    }
}

.team-item:hover {
    border-top: 2px solid $yel;
    border-left: 2px solid $yel;
    &::before,
    &::after {
        background-color: $yel;
    }
    .team-item__title {
        color: $yel;
    }
}
