@import "vars";
@import "global";
@import "slider";

body {
    position: relative;
}

.header {
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.headerline {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0px 27px 114px 0 rgba(0, 0, 0, 0.09);
}

.logo{
    svg{
        height: 30px;
        width: auto;
        fill: #727272;
    }
}

.headermain {
    position: relative;
}
.headermain__inner {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.48);
}

.headermain__img {
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
}

.headermain-info {
    position: absolute;
    top: 230px;
    left: 368px;
    &__inner {
        width: 126px;
        height: 188px;
        position: relative;
    }
}
.headermain-info__block {
    width: 126px;
    height: 188px;
    border-top: 5px solid $yel;
    border-bottom: 5px solid $yel;
    position: relative;
    &::after,
    &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 5px;
        height: 34px;
        background-color: $yel;
    }
    &::before {
        height: 60px;
        top: 123px;
    }
}
.headermain-info-blockline {
    position: absolute;
    top: 0;
    left: 0;
    &__row {
        width: 5px;
        height: 100px;
        background-color: $yel;
    }
}
.headermain-info-blockline + .headermain-info-blockline {
    top: 132px;
    transform: rotate(180deg);
}
.headermain-info-blockline__row {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        border-top: 3px solid $yel;
        border-right: 5px solid transparent;
    }
}
.blockline__row--2 {
    height: 50px;
}
.headermain-info-blockline__btn {
    position: absolute;
    top: 0;
    left: 0;
    a {
        width: 126px;
        height: 188px;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        letter-spacing: 0.48px;
        color: #3f3f3f;
        position: relative;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 126px;
            height: 0;
            background-color: $yel;
            transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        }
        span {
            position: absolute;
            bottom: 24px;
            left: 24px;
            color: #fff;
            transform: scale(1);
            transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        }
    }
}
.headermain-info-blockline-btn__wrap {
    width: 378px;
    position: absolute;
    top: 45px;
    left: 24px;
    transition: all 0.3s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &-title {
        font-size: 40px;
        line-height: 42px;
        font-weight: 300;
        line-height: 1.25;
        text-transform: uppercase;
        color: #fff;
        transition: all 0.3s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
    &-subtitle {
        font-size: 20px;
        line-height: 22px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 6px;
        color: #fff;
        transition: all 0.35s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}
.headermain-info-blockline__btn {
    a:hover {
        &::before {
            height: 188px;
        }
        span {
            font-weight: 600;
            transform: scale(1.3);
        }
        .headermain-info-blockline-btn__wrap {
            left: 140px;
        }
    }
}

.headernav-left {
    max-width: 80px;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    &__btn {
        width: 80px;
        height: 113px;
        background-color: $yel;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}

.headernav-left__inner {
    display: none;
}

.headernav-left__btn:hover {
    background-color: #fff;
    .menu-btn-row--2,
    .menu-btn-row--3 {
        width: 22px;
    }
}
.menu-btn {
    width: 22px;
    height: 23px;
}
.menu-btn-row {
    width: 22px;
    height: 3px;
    background-color: #3d444c;
}
.menu-btn-row + .menu-btn-row {
    margin-top: 6px;
}
.menu-btn-row--2 {
    width: 15px;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
}
.menu-btn-row--3 {
    width: 9px;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
}

.header-menu-position {
    max-width: 0;
    width: 100%;
    min-height: 100%;
    position: fixed;
    left: 0;
    z-index: 14;
    overflow-x: hidden;
    transition: all 0.3s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &.active {
        max-width: 100%;
    }
}
.header-menu {
    max-width: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(#000, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 14;
    transition: all 0.3s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &.active {
        max-width: 100%;
        .menu__list {
            li {
                display: block;
                a {
                    color: #fff;
                }
            }
        }
        .menu-close {
            display: flex;
        }
    }
}
.header-menu__inner {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    position: relative;
}
.menu__list {
    padding: 20px 0 120px;
    li {
        display: none;
        a {
            width: 100%;
            height: 70px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
            color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        }
    }
    li {
        position: sticky;
        z-index: 15;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 70px;
            background-color: $yel;
            transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
            z-index: -1;
        }
    }
    li:hover {
        &::before {
            width: 400px;
        }
        a {
            transform: scale(1.5);
        }
    }
}
.menu-close {
    display: none;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 120px;
        background-color: $yel;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}
.menu-close-btn {
    width: 40px;
    height: 40px;

    position: relative;
}
.menu-close-btn__row {
    width: 35px;
    height: 5px;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.menu-close-btn__row + .menu-close-btn__row {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
}
.menu-close:hover {
    &::before {
        width: 120px;
    }
    .menu-close-btn__row {
        transform: translate(-50%, -50%) rotate(35deg) scale(1.5);
    }
    .menu-close-btn__row + .menu-close-btn__row {
        transform: translate(-50%, -50%) rotate(-35deg) scale(1.5);
    }
}

.headernav-right {
    max-width: 80px;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 12;
    &__inner {
        max-width: 80px;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
    }
}

.social__list {
    width: 100%;
    li {
        a {
            width: 80px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        }
    }
}
.social__list {
    li:hover {
        a {
            background-color: $yel;
            .fa-skype,
            .fa-facebook-f,
            .fa-google-plus-g,
            .fa-twitter,
            .fa-youtube {
                color: #fff;
            }
        }
    }
}

.search-btn {
    width: 100%;
    position: absolute;
    top: 152px;
    left: 0;
    &__inner {
        width: 80px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        .fa-search {
            color: $fgrey;
            transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        }
    }
}
.search-btn__inner {
    &:hover {
        background-color: $yel;
        .fa-search {
            color: #fff;
        }
    }
}

.header-arrow {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    &__inner {
        width: 80px;
        height: 163px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}
.header-arrow__inner {
    &:hover {
        background-color: $yel;
        .fa-chevron-up {
            color: #fff;
        }
    }
}

.header-search-position {
    max-width: 0;
    width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0;
    z-index: 12;
    transition: all 0.3s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &.active-header-search {
        max-width: 100%;
    }
}
.header-search {
    max-width: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(#000, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 8;
    transition: all 0.3s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &__inner {
        max-width: 100vw;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &.active-header-search {
        max-width: 100vw;
        .headsearch-close {
            display: flex;
        }
        .header-search-form {
            display: block;
        }
    }
}

.header-search-form {
    display: none;
}

.header-search-form__input {
    width: 468px;
    height: 80px;
    background-color: transparent;
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(#fff, 0.5);
    transform: scale(1);
    padding: 20px;
    margin: 0 auto;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &::placeholder {
        color: #fff;
        transform: scale(1);
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}
.header-search-form__input:focus {
    width: 300px;
    color: $yel;
    border-bottom: 1px solid rgba($yel, 1);
    transform: scale(1.3);
    &::placeholder {
        font-weight: 600;
        color: $yel;
        transform: scale(1.3);
    }
}
.header-search-form__inner {
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-search-form__btn {
    display: none;
}
.header-search-form__label {
    cursor: pointer;
    .fa-search {
        color: #fff;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
    .svg-inline--fa.fa-search {
        width: 30px;
        height: 30px;
        transform: scale(1);
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}
.header-search-form__label:hover {
    .fa-search {
        color: $yel;
    }
    .svg-inline--fa.fa-search {
        transform: scale(1.3);
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}

.headsearch-close__pos {
    position: absolute;
    top: 0;
    right: 0;
}

.headsearch-close {
    display: none;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 120px;
        background-color: $yel;
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
}
.headsearch-close-btn {
    width: 40px;
    height: 40px;
    position: relative;
}
.headsearch-close-btn__row {
    width: 35px;
    height: 5px;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.headsearch-close-btn__row + .headsearch-close-btn__row {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
}
.headsearch-close:hover {
    &::before {
        width: 120px;
    }
    .headsearch-close-btn__row {
        transform: translate(-50%, -50%) rotate(35deg) scale(1.5);
    }
    .headsearch-close-btn__row + .headsearch-close-btn__row {
        transform: translate(-50%, -50%) rotate(-35deg) scale(1.5);
    }
}

.block {
    background-color: $bg;
    padding: 370px 0;
    position: relative;
    &__inner {
        position: absolute;
        top: -120px;
        left: 0;
        right: 0;
        z-index: 6;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 569px;
        width: 100%;
    }
}
.block__item-img,
.block-box__item-img {
    max-width: 569px;
    width: 100%;
    min-height: 569px;
    overflow: hidden;
    source,
    img {
        max-width: 100%;
        width: 100%;
        min-height: auto;
        object-fit: cover;
        object-position: center center;
    }
}
.block__item {
    &-title {
        margin-bottom: 10px;
    }
    &-subtitle {
        margin-bottom: 20px;
    }
    &-subtext {
        max-width: 340px;
        width: 100%;
    }
}
.block__item-btn {
    display: flex;
    margin-top: 75px;
    a {
        width: 98px;
        height: 167px;
        background-color: $yel;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 98px;
            height: 0;
            background-color: $fgrey;
            transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        }
        span {
            transform: scale(1);
            transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        }
    }
}
.block-btn__wrap {
    position: absolute;
    left: 17px;
    bottom: 48px;
}
.btnplus {
    width: 22px;
    height: 22px;
    margin-bottom: 18px;
    position: relative;
    transform: scale(1) rotate(0deg);
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    &-row {
        width: 22px;
        height: 2px;
        border-radius: 2px;
        background-color: $black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
    }
    &-row + &-row {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.block__item-btn {
    a:hover {
        &::before {
            height: 167px;
        }
        .btnplus {
            transform: scale(1.3) rotate(180deg);
            margin-left: 18px;
            &-row {
                height: 3px;
                background-color: #fff;
            }
        }
        span {
            color: #fff;
            transform: scale(1.3);
        }
    }
}

.block__item--mod {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.block--mod2 {
    background-color: #fff;
}
.block__item--1 {
    order: 2;
}
.block__item--2 {
    order: 1;
    padding-top: 200px;
}

.inline-btn {
    min-height: 568px;
    background-color: #e5e5e5;
    overflow: hidden;
    &__inner {
        display: flex;
        justify-content: center;
    }
}
.inline-btn__item {
    a {
        max-width: 100%;
        width: 100%;
        min-height: 568px;
        background-color: #e5e5e5;
        position: sticky;
        padding: 120px 40px 80px 40px;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            max-width: 100%;
            width: 100%;
            min-height: 0;
            background-color: #fff;
            z-index: -1;
            transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        }
    }
}
.inline-btn__item-icon {
    margin-bottom: 42px;
    source,
    img {
        width: 55px;
        height: 55px;
    }
}

.inline-btn__item-title {
    margin-bottom: 5px;
    span {
        font-weight: 600;
    }
}
.inline-btn__item-subtitle {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    color: #393939;
    margin-bottom: 50px;
}
.inline-btn__item-more {
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
}
.inline-btn__item {
    a:hover {
        &::before {
            min-height: 568px;
        }
        .inline-btn__item-more {
            opacity: 1;
        }
    }
}

.footer {
    padding: 82px 20px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.footer-nav {
    width: 470px;
}
.footer-nav__list {
    display: flex;
    justify-content: space-between;
    li {
        a {
            font-size: 12px;
            line-height: 14px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 3.6px;
            color: #8d8d8d;
            transition: all 0.2s cubic-bezier(0.48, 0.24, 0.39, 0.77);
        }
    }
}
.footer-nav__list {
    a:hover {
        color: $black;
    }
}
.copyright {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    color: #8d8d8d;
}

@import "header";
@import "services";
@import "about";
@import "blog";
@import "portfolio";
@import "faq";
@import "team";
@import "contact";
@import "err404";
@import "media";
