.contact {
    padding: 36px 0 105px;
    overflow: hidden;
}

.contactheadline {
    max-width: 100%;
    width: 100%;
    min-height: 114px;
    border-radius: 2px;
    background-color: $red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}
.contactheadline-item {
    width: 100%;
    height: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    &::before {
        content: "";
        height: 3px;
        width: 0;
        background-color: #fff;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: all 0.3s;
    }
}
.contactheadline-item__ico {
    .svg-inline--fa.fa-phone,
    .svg-inline--fa.fa-envelope-open-text {
        width: 49px;
        height: 49px;
    }
    .svg-inline--fa.fa-map {
        width: 55px;
        height: 55px;
    }
}
.contactheadline-item__inner {
    color: #fff;
    margin-left: 25px;
    &-title {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1.4px;
    }
    &-subtitle {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.28px;
    }
}
.contactheadline-item:hover {
    &::before {
        width: 100%;
    }
    .fa-phone,
    .fa-envelope-open-text,
    .fa-map {
        color: #941824;
    }
}

.contac-flex{
    display: flex;
    justify-content: space-between;
}

.contactfeedback {
    max-width: 470px;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    padding-top: 66px;
    &__inner {
        max-width: 360px;
        width: 100%;
        margin: 0 auto 61px auto;
        padding: 0 15px;
    }
}
.contactfeedback__inner {
    &-subtitle {
        margin-bottom: 18px;
    }
}

.contact-form {
    &__name,
    &__email,
    &__phone,
    &__subject,
    &__textarea {
        height: 40px;
        letter-spacing: 0.48px;
        color: #495057;
        border: 3px solid #ebebeb;
        outline: none;
        padding: 6px 15px 6px 20px;
        margin-bottom: 14px;
    }
    &__name,
    &__email,
    &__phone,
    &__subject,
    &__textarea,
    &__btn {
        width: 100%;
        background-color: #fff;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.3s;
    }
    &__textarea {
        height: 100px;
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 0;
        resize: none;
    }
    &__btn {
        height: 40px;
        color: $red;
        border: 3px solid $red;
        cursor: pointer;
        transition: all 0.3s;
    }
}

.contact-form__name,
.contact-form__email,
.contact-form__phone,
.contact-form__subject,
.contact-form__textarea {
    &::placeholder {
        color: #495057;
        transition: all 0.3s;
    }
    &:focus {
        border: 3px solid $red;
        color: $red;
        &::placeholder {
            color: $red;
        }
    }
}

.contact-form__btn:hover {
    background-color: $red;
    color: #fff;
}

.contactfeedback-social {
    width: 100%;
    height: 64px;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    max-width: 670px;
    width: 100%;
    min-height: 630px;
    box-shadow: 0px 15px 55px 0px rgba(0, 0, 0, 0.08);
}