html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  background-color: #ebebeb;
  color: $grey;
  min-width: 320px;
  overflow-x: hidden;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  outline: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.container-fullhd {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.info-subtitle {
  font-weight: 400;
  color: #fff;
}
.subtitle {
  line-height: 22px;
  letter-spacing: 0.24px;
  color: $grey;
}
.title-item {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #1f1f1f;
}
.bigtitle {
  font-size: 500px;
  line-height: 370px;
  font-weight: 700;
  letter-spacing: 100px;
  text-transform: uppercase;
  color: #d9d9d9;
  user-select: none;
}
.p {
  margin: 21px 0;
}

.data {
  display: flex;
  justify-content: space-between;
}

.slick-slide {
  outline: none;
}

.mainheading {
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  &__title {
    font-size: 35px;
    line-height: 38px;
    letter-spacing: 7px;
    color: $red;
    margin-bottom: 20px;
    a {
      color: $red;
    }
  }
  &__subtitle {
    font-size: 20px;
    letter-spacing: 4px;
    color: #a4a4a4;
  }
}

.social {
  height: 21px;
}
.social__list {
  height: 20px;
  display: inline-flex;
  li + li {
    margin-left: 20px;
  }
}

.svg-inline--fa.fa-headphones-alt,
.svg-inline--fa.fa-envelope {
  width: 19px;
  height: 19px;
}

.fa-headphones-alt,
.fa-envelope,
.fa-skype,
.fa-facebook-f,
.fa-google-plus-g,
.fa-twitter,
.fa-vimeo-v,
.fa-youtube,
.fa-angle-left,
.fa-angle-right,
.fa-walking,
.fa-mobile-alt,
.fa-building,
.fa-dumbbell,
.fa-home,
.fa-phone,
.fa-envelope-open-text,
.fa-map,
.fa-users,
.fa-pencil-ruler,
.fa-capsules,
.fa-bicycle,
.fa-address-card,
.fa-ambulance,
.fa-basketball-ball,
.fa-battery-half,
.fa-bell,
.fa-box-open,
.fa-carrot,
.fa-chart-bar,
.fa-long-arrow-alt-left,
.fa-long-arrow-alt-right,
.fa-users,
.fa-screwdriver,
.fa-vial,
.fa-thermometer,
.fa-award,
.fa-bolt,
.fa-bomb,
.fa-brain,
.fa-carrot,
.fa-chess-knight {
  color: #fff;
  transition: all 0.3s;
}

.svg-inline--fa.fa-skype {
  width: 15px;
  height: 15px;
}
.svg-inline--fa.fa-facebook-f {
  width: 14px;
  height: 14px;
}
.svg-inline--fa.fa-google-plus-g {
  width: 19px;
  height: 19px;
}
.svg-inline--fa.fa-twitter {
  width: 15px;
  height: 15px;
}
.svg-inline--fa.fa-vimeo-v {
  width: 16px;
  height: 16px;
}
.svg-inline--fa.fa-youtube {
  width: 17px;
  height: 17px;
}

.fa-search,
.fa-user,
.fa-shopping-basket,
.fa-bars {
  transition: all 0.3s;
  color: #495057;
}
.svg-inline--fa.fa-search {
  width: 14px;
  height: 14px;
}
.svg-inline--fa.fa-user {
  width: 18px;
  height: 18px;
}
.svg-inline--fa.fa-shopping-basket {
  width: 21px;
  height: 21px;
}
.svg-inline--fa.fa-bars {
  width: 21px;
  height: 21px;
}
.svg-inline--fa.fa-walking,
.svg-inline--fa.fa-mobile-alt {
  width: 50px;
  height: 50px;
}
.svg-inline--fa.fa-building {
  width: 40px;
  height: 40px;
}
.svg-inline--fa.fa-dumbbell {
  width: 49px;
  height: 49px;
}

.fa-play {
  color: #d41b2d;
  transition: all 0.3s;
}
.svg-inline--fa.fa-play {
  width: 36px;
  height: 36px;
  transition: all 0.1s;
}

.fa-shipping-fast,
.fa-shield-alt {
  color: #495057;
  transition: all 0.3s;
}
.svg-inline--fa.fa-shipping-fast {
  width: 25px;
  height: 25px;
}
.svg-inline--fa.fa-shield-alt {
  width: 20px;
  height: 20px;
}

.slider-arrows-square__position {
  position: absolute;
  right: 174px;
  bottom: 121px;
  z-index: 10;
}
.slider-arrows-square__btn {
  width: 89px;
  display: flex;
}
.slider-arrows-square {
  width: 40px;
  height: 40px;
  border: solid 3px #fff;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  .svg-inline--fa.fa-angle-left,
  .svg-inline--fa.fa-angle-right {
    width: 20px;
    height: 20px;
  }
  &__right {
    margin-left: 9px;
  }
}
.slider-arrows-square:hover {
  background-color: #fff;
  .fa-angle-left,
  .fa-angle-right {
    color: $red;
  }
}

.slider-dots,
.store-slider-dots {
  display: flex;
  justify-content: center;
  margin-top: -14px;
  position: sticky;
  z-index: 8;
  li {
    margin: 0 8px;
  }
  button {
    background-color: #fff;
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: $red;
    }
  }
  li.slick-active button {
    background-color: $red;
  }
}
.store-slider-dots {
  margin-top: 71px;
  button {
    &:hover {
      background-color: #b61626;
    }
  }
  li.slick-active button {
    background-color: #b61626;
  }
}

.mode-arrows-square__btn {
  display: flex;
  .slider-arrows-square {
    margin: 0 20px;
  }
  .slider-arrows-square__left {
    background-color: transparent;
    .fa-angle-up {
      color: #fff;
    }
  }
  .slider-arrows-square__right {
    margin-left: 0;
    border: solid 3px #cbcbcb;
    background-color: transparent;
    .fa-angle-down {
      color: #cbcbcb;
    }
  }
  .svg-inline--fa.fa-angle-up,
  .svg-inline--fa.fa-angle-down {
    width: 20px;
    height: 20px;
  }
}
.mode-arrows-square__btn {
  .slider-arrows-square:hover {
    border: solid 3px $red;
    .fa-angle-up,
    .fa-angle-down {
      transition: all 0.3s;
      color: $red;
    }
  }
}

.news-arrows-square__btn,
.expert-arrows-square__btn,
.customers-arrows-square__btn {
  display: flex;
  .slider-arrows-square {
    background-color: transparent;
    margin-left: 18px;
  }
}
.news-arrows-square__btn,
.expert-arrows-square__btn,
.customers-arrows-square__btn {
  .slider-arrows-square:hover {
    background-color: #fff;
    .fa-angle-left,
    .fa-angle-right {
      transition: all 0.3s;
      color: $red;
    }
  }
}

.expert-arrows-square__btn {
  .slider-arrows-square {
    border: solid 5px #fff;
  }
}

.customers-arrows-square__btn {
  width: 1170px;
  justify-content: space-between;
  margin: 0 auto;
  .slider-arrows-square {
    border: none;
    background-color: #fff;
    margin-left: 0;
    .fa-angle-left,
    .fa-angle-right {
      color: #b6b6b6;
    }
  }
}

.footer {
  .fa-headphones-alt,
  .fa-envelope,
  .fa-map-marker-alt {
    color: $red;
  }
  .svg-inline--fa.fa-map-marker-alt {
    width: 22px;
    height: 22px;
  }
}

.copyright {
  font-weight: 400;
  letter-spacing: 0.48px;
  color: #8c8c8c;
}

.mfp-close {
  transition: all 0.3s;
  &:hover {
    color: $red;
  }
}

.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.sources-and-credits {
  display: none;
  background-color: #f8f8f8;
  padding: 20px 0 45px;
}
.sources-and-credits__popup-window {
  max-width: 600px;
  width: 100%;
  min-height: 350px;
  background-color: #142a33;
  background-image: url(../images/sources-and-credits-img-bg.png);
  background-image: url(../images/sources-and-credits-img-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 48px 20px 20px 52px;
  margin: 0 auto;
  position: relative;
  ul,
  li {
    color: #fff;
    list-style: disc;
  }
  .mfp-close {
    background-color: rgba(#fff, 0.6);
    opacity: 1;
    color: #1b3a46;
    transition: all 0.3s;
    &:hover {
      background-color: rgba(#fff, 1);
      color: #fb606d;
    }
  }
}
.sources-and-credits__popup-window {
  ul,
  li:hover {
    color: #fb606d;
  }
}
.sources-and-credits__popup-list {
  a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    transition: all 0.3s;
    &:hover {
      color: #fb606d;
    }
  }
}
.sources-and-credits__popup-btn {
  text-align: center;
  a {
    font-weight: 700;
    letter-spacing: 0.48px;
    color: #999999;
    text-transform: uppercase;
    border: solid 3px #ebebeb;
    background-color: transparent;
    padding: 4px 23px;
    transition: all 0.3s;
    &:hover {
      color: $red;
      border: solid 3px $red;
    }
  }
}

.basket-popup {
  position: absolute;
  top: 74px;
  right: 0;
  z-index: 9;
  display: none;
}

.basket-popup.active,
.basket-popup__close.active,
.basket-popup__total-icon.active {
  display: block;
}

.basket-popup__inner {
  max-width: 270px;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  &::before {
    content: "No product";
    position: absolute;
    top: 64px;
    left: 50%;
    right: 0;
    text-align: center;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    z-index: 5;
  }
}

.basket-popup__total {
  height: 39px;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 16px 1px 26px;
}
.basket-popup__total-title {
  a {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #7d7d7d;
    span {
      font-weight: 700;
    }
  }
}
.basket-popup__total-title {
  a:hover {
    text-decoration: underline;
  }
}
.basket-popup__total-icon {
  cursor: pointer;
  .fa-caret-up {
    color: #e1e1e1;
  }
  .svg-inline--fa.fa-caret-up {
    width: 17px;
    height: 17px;
  }
}

.basket-popup__items {
  overflow: auto;
  height: 252px;
}
.basket-popup__item {
  position: relative;
  min-height: 85px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
  margin-top: -1px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  z-index: 8;
  &:hover {
    background-color: #e1e1e1;
  }
  a {
    width: 100%;
    padding: 12px 0 12px 26px;
    display: flex;
  }
}
.basket-popup-img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  &__wrap {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.basket-popup-item__info {
  line-height: 22px;
  letter-spacing: 0.24px;
  color: #1f1f1f;
  margin-top: 4px;
  margin-left: 23px;
  &-subtitle {
    color: #909090;
  }
}

.basket-popup__nav {
  display: flex;
}
.basket-popup__nav-btn {
  background-color: #fafafa;
  transition: all 0.3s;
  .fa-shopping-cart,
  .fa-check-square {
    color: #464646;
  }
  .svg-inline--fa.fa-shopping-cart {
    width: 17px;
    height: 17px;
  }
  .svg-inline--fa.fa-check-square {
    width: 15px;
    height: 15px;
  }
  a {
    width: 135px;
    line-height: 22px;
    letter-spacing: 0.24px;
    color: #1f1f1f;
    padding: 19px 0 19px 26px;
    display: flex;
    align-items: center;
    span {
      margin-left: 8px;
    }
  }
}
.basket-popup__nav-btn:hover {
  background-color: $red;
  .fa-shopping-cart,
  .fa-check-square {
    color: #fff;
  }
  a {
    color: #fff;
  }
}
.basket-popup__close {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}

.search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  width: 0;
  transition: all 0.4s;
  .search-form,
  .search__close {
    display: none;
  }
}
.search.active-search {
  width: 100%;
  transition: all 0.4s;
  .search-form,
  .search__close {
    display: block;
  }
}
body.lock {
  overflow: hidden;
}

.search__inner {
  width: 100%;
  height: 100vh;
  background-color: rgba(#000, 0.9);
  position: relative;
  text-align: right;
}
.search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 13;
}
.search-form__input {
  max-width: 600px;
  width: 100%;
  min-height: 64px;
  text-align: center;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 0.24;
  color: rgba(#fff, 0.6);
  border: none;
  border-bottom: 1px solid rgba(#fff, 0.6);
  background-color: transparent;
  outline: none;
  transition: all 0.3s;
  padding-right: 62px;
  position: relative;
  &::placeholder {
    color: rgba(#fff, 0.6);
    transition: all 0.3s;
  }
}
.search-form__input:focus {
  border-bottom: 1px solid rgba(#fff, 1);
  color: rgba(#fff, 1);
  &::placeholder {
    color: rgba(#fff, 1);
  }
}
.search-form__button {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  .fa-search {
    color: rgba(#fff, 0.6);
  }
  .svg-inline--fa.fa-search {
    width: 42px;
    height: 42px;
  }
}
.search-form__button:hover {
  .fa-search {
    color: rgba(#fff, 1);
  }
}
.search__close {
  padding: 35px;
  cursor: pointer;
  .fa-times {
    color: rgba(#fff, 0.6);
    transition: all 0.3s;
  }
  .svg-inline--fa.fa-times {
    width: 42px;
    height: 42px;
  }
}
.search__close:hover {
  .fa-times {
    color: rgba(#fff, 1);
  }
}

.menu__close {
  display: none;
  padding: 35px 35px 0 35px;
  cursor: pointer;
  .fa-times {
    color: rgba(#fff, 0.6);
    transition: all 0.3s;
  }
  .svg-inline--fa.fa-times {
    width: 42px;
    height: 42px;
  }
}
.menu__close:hover {
  .fa-times {
    color: rgba(#fff, 1);
  }
}

.mfp-iframe-holder .mfp-content {
  max-width: 1280px;
}

.use {
  .fadeIn {
    animation-duration: 0.1s;
  }
}

.breadcrumb {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    a {
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.28px;
    }
  }
}
.breadcrumb-item-name {
  a {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #1a1a1a;
    transition: all 0.3s;
  }
}
.breadcrumb-item-name:hover {
  a {
    color: $red;
  }
}
.breadcrumb-item {
  a {
    width: 25px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
  }
}
.breadcrumb-item--active {
  a {
    color: $red;
    border: 2px solid $red;
    transition: all 0.3s;
  }
}
.breadcrumb-item:hover {
  a {
    color: $red;
  }
}
