.header-bg {
    overflow: hidden;
    position: relative;
    .kenburnsTop {
        animation: kenburnsTop 8s ease-out reverse both;
    }
}

@keyframes kenburnsTop {
    0% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 16%;
    }
    100% {
        transform: scale(1.25) translateY(-15px);
        transform-origin: top;
    }
}

.header-bg-img {
    max-width: 100%;
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.header-bg-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 380px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), #000000);
    z-index: 1;
    color: #fff;
    padding-top: 115px;
    &__subtitle {
        font-size: 18px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__title {
        font-size: 45px;
        line-height: 45px;
        font-weight: 700;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        margin-bottom: 53px;
    }
}

.header-breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li + li {
        padding: 5px 0;
        margin-left: 17px;
    }
}
.header-breadcrumb-btn {
    a {
        width: 35px;
        height: 35px;
        border-radius: 3px;
        background-color: $red;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        .svg-inline--fa.fa-home {
            width: 17px;
            height: 17px;
        }
        &:hover {
            background-color: #fff;
            .fa-home {
                color: $red;
            }
        }
    }
}
.header-breadcrumb-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.28px;
    position: relative;
    a,
    .no-link {
        display: flex;
        align-items: center;
        .fa-circle {
            color: $red;
        }
        .svg-inline--fa.fa-circle {
            width: 8px;
            height: 8px;
        }
        span {
            width: 130px;
            text-align: center;
            margin-left: 8px;
        }
    }
}
.header-breadcrumb-item {
    a {
        position: relative;
        &::before {
            content: "";
            width: 0px;
            height: 4px;
            background-color: $red;
            border-radius: 2px;
            position: absolute;
            left: 17px;
            top: 28px;
            transition: all 0.5s;
            opacity: 0.8;
        }
    }
}
.header-breadcrumb-item:hover {
    a {
        &::before {
            width: 130px;
           opacity: 1;
        }
    }
}

.header-breadcrumb-active {
    cursor: default;
    position: relative;
    &::before {
        content: "";
        width: 130px;
        height: 4px;
        background-color: $red;
        border-radius: 2px;
        position: absolute;
        left: 17px;
        top: 33px;
    }
}
