.login {
    padding: 57px 0 66px;
    overflow: hidden;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.login-box {
    max-width: 570px;
    width: 100%;
    min-height: 532px;
    background-color: #fff;
    padding: 103px 15px 0 15px;
    &__inner {
        max-width: 432px;
        width: 100%;
        min-height: 100%;
        margin: 0 auto;
    }
    &__title {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        color: #1f1f1f;
        margin-bottom: 8px;
    }
    &__subtitle {
        margin-bottom: 32px;
    }
}

.login-form {
    &__username,
    &__email,
    &__password {
        color: #495057;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        font-size: 10px;
        width: 100%;
        height: 40px;
        border: 3px solid #ebebeb;
        background-color: #fff;
        padding: 11px 15px 11px 16px;
        outline: none;
        transition: all 0.3s;
    }
    &__username {
        margin-bottom: 12px;
    }
    &__password,
    &__email {
        margin-bottom: 18px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }
    &__button {
        width: 131px;
        height: 40px;
        border: solid 3px $red;
        background-color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.48px;
        color: #b61626;
        transition: all 0.3s;
        cursor: pointer;
    }
}

.login-form__username,
.login-form__email,
.login-form__password {
    &:focus {
        border: 3px solid $red;
        color: $red;
        &::placeholder {
            color: $red;
            transition: all 0.3s;
        }
    }
}

.checkbox {
    display: none;
}
.checkbox-style {
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #ebebeb;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 10px;
        height: 10px;
        background-image: url(../images/check-solid.svg);
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0;
        transition: all 0.3s;
    }
}
.checkbox:checked + .checkbox-style {
    border: 3px solid $red;
}
.checkbox:checked + .checkbox-style::before {
    opacity: 1;
}

.login-form__button:hover {
    background-color: $red;
    color: #fff;
}

.login-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-info__wrap {
    &-title {
        line-height: 22px;
        letter-spacing: 0.24px;
        color: #909090;
    }
    &-subtitle {
        a {
            font-weight: 500;
            font-style: italic;
            color: $red;
        }
    }
}
.login-info__wrap--2 {
    text-align: right;
}

.login-box-img__link--2{
    display: none;
}
.login-box-img {
    overflow: hidden;
    &__wrap {
        width: 570px;
        height: 532px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.login-form {
    [value="Register"] {
        margin-bottom: 32px;
    }
}
