.services {
    padding: 141px 0 4px;
    position: relative;
}
.services--main {
    padding: 50px 0 4px;
}

.services-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__inner {
        width: 270px;
        min-height: 301px;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 15px 55px 0 rgba(0, 0, 0, 0.15);
        cursor: pointer;
        position: relative;
        padding: 114px 15px 15px 15px;
        margin: 53px 0 56px 0;
    }
}
.services-card__icon {
    position: absolute;
    top: -53px;
    left: 50%;
    transform: translateX(-50%);
    &-wrap {
        width: 130px;
        height: 130px;
        border-radius: 10px;
        background-color: #484848;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }
    .svg-inline--fa.fa-users {
        width: 45px;
        height: 45px;
    }
    .svg-inline--fa.fa-pencil-ruler,
    .svg-inline--fa.fa-basketball-ball {
        width: 37px;
        height: 37px;
    }
    .svg-inline--fa.fa-capsules {
        width: 41px;
        height: 41px;
    }
    .svg-inline--fa.fa-bicycle {
        width: 43px;
        height: 43px;
    }
    .svg-inline--fa.fa-address-card {
        width: 44px;
        height: 44px;
    }
    .svg-inline--fa.fa-ambulance,
    .svg-inline--fa.fa-battery-half,
    .svg-inline--fa.fa-box-open,
    .svg-inline--fa.fa-carrot {
        width: 49px;
        height: 49px;
    }
    .svg-inline--fa.fa-bell {
        width: 38px;
        height: 38px;
    }
    .svg-inline--fa.fa-chart-bar {
        width: 39px;
        height: 39px;
    }
}
.services-card {
    &__title {
        margin-bottom: 18px;
    }
    &__subtitle {
        margin-bottom: 28px;
    }
}

.services-card__btn {
    display: flex;
    justify-content: center;
    a {
        width: 99px;
        height: 40px;
        border: solid 3px #ebebeb;
        background-color: #fff;
        font-weight: 700;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        color: #bababa;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }
}

.services-card__inner:hover {
    .services-card__icon-wrap {
        background-color: $red;
    }
    .services-card__btn {
        a {
            border: solid 3px $red;
            color: $red;
        }
    }
}

.mode--services {
    padding: 0;
    margin-bottom: -8px;
}

.mode-slider--services {
      .slick-list {
        padding: 8px 0px 0px 0px !important;
    }

}
