@import "vars";
@import "global";

.header {
  position: relative;
}

.headerline {
  height: 44px;
  background-color: #212c30;
  overflow: hidden;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.headerline__inner {
  .connect {
    max-width: 554px;
    width: 100%;
  }
  &-wrap {
    max-width: 394px;
    width: 100%;
  }
}
.headerline__inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connect {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.connect__list {
  .info-subtitle {
    color: #fff;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 1px;
      background-color: #fff;
      opacity: 0.2;
      transition: all 0.3s;
    }
  }
  li:hover {
    .info-subtitle {
      &::before {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
.phone {
  display: flex;
  align-items: center;
  &-text {
    margin-left: 14px;
  }
}
.mail {
  display: flex;
  align-items: center;
  &-text {
    margin-left: 14px;
  }
}

.headerline__quote-btn {
  width: 167px;
  height: 44px;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -38px;
    width: 38px;
    height: 44px;
    border-bottom: 92px solid $red;
    border-left: 34px solid transparent;
  }
}

.header-navigation {
  height: 74px;
  background-color: #fff;
  position: relative;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 74px;
    background-color: $red;
  }
}
.header-navigation__inner {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.logo__inner {
  width: 234px;
  height: 74px;
  display: flex;
  overflow: hidden;
}
.logo {
  height: 74px;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 26px;
  position: relative;
  transition: all 0.3s;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -39px;
    bottom: 0;
    border-top: 92px solid #ee2034;
    border-right: 42px solid transparent;
  }
  svg {
    height: 29px;
    width: auto;
    fill: #fff;
  }
}
.header-navigation__inner {
  .menu {
    max-width: 590px;
    width: 100%;
  }
  .use {
    max-width: 165px;
    width: 100%;
  }
}
.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.28px;
    color: #7d7d7d;
    transition: all 0.3s;
    &:hover {
      color: $red;
    }
  }
}
.menu-btn {
  display: none;
}
.use {
  padding-right: 16px;
  transition: all 0.3s;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li:hover {
    .fa-search,
    .fa-user,
    .fa-shopping-basket,
    .fa-bars {
      color: $red;
    }
  }
}
.use__list {
  li {
    cursor: pointer;
  }
}
.use-basket {
  position: relative;
}
.use-basket-item {
  position: absolute;
  right: -15px;
  bottom: -3px;
  width: 20px;
  height: 20px;
  background-color: $red;
  border-radius: 75px;
  color: #fff;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-slider__wrap {
  .slider-arrows__position {
    z-index: 1;
  }
}
.header-slider__inner {
  height: 823px;
  padding-bottom: 127px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 823px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), #000000);
    z-index: 1;
  }
}
.header-slider__content {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 3;
  &-subtitle {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  &-title {
    font-size: 80px;
    line-height: 93px;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1.6px;
    margin-bottom: 9px;
    span {
      color: $red;
    }
  }
  &-text {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 45px;
  }
  &-subtext {
    width: 424px;
    letter-spacing: 0.24px;
    color: #a4a4a4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 63px;
  }
}
.header-slider__btn {
  a {
    width: 168px;
    height: 40px;
    border: solid 3px $red;
    font-weight: 600;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all 0.3s;

    &:hover {
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}

.rel {
  position: relative;
}
.slider-arrows__position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.slider-arrows__wrap {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.slider-arrows__btn {
  max-width: 1170px;
  width: 100%;
}
.slider-arrows {
  width: 120px;
  height: 183px;
  position: absolute;
  top: 100px;
  cursor: pointer;
}
.slider-arrows__left {
  top: 441px;
  left: 6px;
  transform: rotate(-34deg);
}
.slider-arrows__right {
  top: 187px;
  right: -20px;
  transform: rotate(17deg);
}
.slider-arrows-btn {
  border-top: 193px solid #212c30;
  border-left: 34px solid transparent;
  border-right: 97px solid transparent;
  position: relative;
  transition: all 0.3s;
  &:hover {
    filter: drop-shadow(8px 26px 15px rgba($red, 0.21));
    border-top: 193px solid $red;
  }
}
.slider-arrows-btn__pos {
  position: absolute;
  bottom: 120px;
  left: 0;
  .svg-inline--fa.fa-angle-left,
  .svg-inline--fa.fa-angle-right {
    width: 45px;
    height: 45px;
  }
  .svg-inline--fa.fa-angle-left {
    transform: rotate(34deg);
  }
  .svg-inline--fa.fa-angle-right {
    transform: rotate(-17deg);
  }
}

.trainer-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -123px;
  color: #fff;
  overflow: hidden;
  padding-top: 52px;
  &__inner {
    min-height: 175px;
    position: relative;
    background-color: $red;
    padding: 26px 0 0 71px;
  }
}
.trainer-box__item {
  display: flex;
  flex-wrap: wrap;
  &-wrapper {
    max-width: 425px;
    width: 100%;
  }
  &-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    margin-bottom: 21px;
  }
  &-subtitle {
    color: #fff;
  }
  &-img {
    position: absolute;
    top: -36px;
    right: 37px;
  }
}
.trainer-box__item-btn {
  padding-left: 74px;
  padding-bottom: 7px;
  display: flex;
  align-items: flex-end;
  a {
    width: 130px;
    height: 34px;
    border: solid 3px #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      background-color: #fff;
      color: $red;
    }
  }
}
.trainer-box__block {
  min-height: 42px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 71px;
  &-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: $red;
  }
}

.about {
  padding-top: 203px;
  padding-bottom: 80px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.about-info {
  max-width: 615px;
  width: 100%;
  min-height: 540px;
  border: 15px solid $red;
  background-color: #fff;
  padding: 59px 88px 29px 55px;
  text-transform: uppercase;
  color: $grey;
  &__name {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.72px;
    margin-bottom: 21px;
  }
  &__title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: $red;
    margin-bottom: 26px;
  }
}
.about-info__subtitle {
  text-transform: capitalize;
  margin-bottom: 32px;
  p {
    margin: 22px 0;
  }
}
.about-info__btn {
  a {
    width: 200px;
    height: 40px;
    border: solid 3px $red;
    background-color: transparent;
    font-weight: 700;
    letter-spacing: 0.48px;
    color: $red;
    padding: 4px 40px 9px 46px;
    transition: all 0.3s;
    &:hover {
      background-color: $red;
      color: #fff;
    }
  }
}

.about-photo {
  max-width: 500px;
  width: 100%;
  min-height: 540px;
  border: solid 15px $red;
  background-color: #fff;
  position: relative;
  &__img {
    position: absolute;
    top: 65px;
    right: 55px;
    z-index: 3;
  }
}
.about-photo__img {
  &-wrap {
    overflow: hidden;
  }
  &-item {
    width: 530px;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.about-photo-box {
  position: relative;
  &__wrap {
    width: 240px;
    height: 70px;
    background-color: #fff;
    box-shadow: -48px 0px 45px 0px rgba(0, 0, 0, 0.21);
    position: absolute;
    right: 145px;
    bottom: -67px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.48px;
    color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    z-index: 5;
  }
}

.service {
  padding: 112px 0;
}

.service-info {
  max-width: 100%;
  min-height: 353px;
  background-color: #fff;
  padding: 73px 69px;
  position: relative;
  &__inner {
    width: 250px;
  }
  &__title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #1f1f1f;
    margin-bottom: 20px;
  }
  &__subtitle {
    margin-bottom: 27px;
  }
}
.service-info__btn {
  a {
    width: 200px;
    height: 40px;
    border: solid 3px $red;
    background-color: transparent;
    font-weight: 700;
    letter-spacing: 0.48px;
    color: $red;
    padding: 4px 40px 9px 68px;
    transition: all 0.3s;
    &:hover {
      background-color: $red;
      color: #fff;
    }
  }
}

.service-details {
  max-width: 839px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: -58px;
  z-index: 5;
  &__item {
    max-width: 270px;
    width: 100%;
    min-height: 443px;
    background-color: #fff;
    box-shadow: 0px 15px 55px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
    cursor: pointer;
  }
}
.service-details__img {
  overflow: hidden;
  &-item {
    width: 270px;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.service-details__inner {
  display: flex;
  justify-content: space-between;
}
.service-details__box {
  padding: 8px 39px 5px 39px;
  &-title {
    margin-bottom: 1px;
  }
  &-subtitle {
    margin-bottom: 28px;
  }
}
.service-details__box-btn {
  a {
    width: 99px;
    height: 40px;
    border: solid 3px #ebebeb;
    background-color: #fff;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.service-details__item:hover {
  background-color: $red;
  .service-details__box-title,
  .service-details__box-subtitle {
    color: #fff;
  }
  .service-details__box-btn {
    a {
      color: $red;
      border-color: #fff;
      background-color: #fff;
    }
  }
}

.fastb {
  position: relative;
  padding: 49px 0 484px;
  &__title {
    width: 1539px;
    margin: 0 auto;
    overflow: hidden;
  }
}
.fastb-info {
  position: absolute;
  top: 152px;
  right: 0;
  left: 35px;
  z-index: 5;
}
.fastb-slider-item__inner {
  max-width: 1050px;
  width: 100%;
  min-height: 550px;
  overflow: hidden;
  border-radius: 100px;
  background-color: $red;
  color: #fff;
  transform: rotateZ(-2deg) skewX(-9deg) skewY(-2deg);
  position: relative;
  margin: 33px auto;
  display: flex;
}
.fastb-slider-item__img {
  &-wrap {
    overflow: hidden;
  }
  &-item {
    width: 552px;
    height: 592px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transform: rotateZ(0deg) skewX(4deg) skewY(2deg) scale(1.1);
  }
}
.fastb-slider-item__descr {
  max-width: 395px;
  width: 100%;
  transform: rotateZ(-2deg) skewX(4deg) skewY(6deg);
  padding: 75px 0 0 1px;
  margin-left: 48px;
  &-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 23px;
  }
  &-subtitle {
    line-height: 24.96px;
    letter-spacing: 0.24px;
    color: #fff;
    margin-bottom: 79px;
    p {
      margin: 22px 0;
    }
  }
}
.fastb-slider-item__wrapper {
  display: flex;
  justify-content: space-between;
}
.fastb-slider-item__descr-btn {
  a {
    width: 99px;
    height: 40px;
    border: solid 3px #fff;
    background-color: $red;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      background-color: #fff;
      color: $red;
    }
  }
}

.hard {
  position: relative;
  padding: 240px 0 50px;
  &__title {
    width: 1708px;
    margin: 0 auto;
    overflow: hidden;
  }
}
.hard-info {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

.hard-info__slider {
  .slick-list {
    margin: 0 -15px;
  }
  .slick-slide {
    margin: 0 15px;
  }
}

.hard-slider-item__inner {
  padding: 113px 10px 32px;
  width: 270px;
  height: 301px;
  background-color: #fff;
  position: relative;
  text-align: center;
  margin: 95px auto 67px auto;
}
.hard-slider-item__inner:hover {
  box-shadow: 0px 15px 55px 0px rgba(#000, 0.15);
  cursor: pointer;
  transition: all 0.3s;
  .hard-slider-item__icon-wrap {
    transition: all 0.3s;
    background-color: $red;
    .fa-users,
    .fa-pencil-ruler,
    .fa-capsules,
    .fa-bicycle {
      color: #fff;
    }
  }
  .hard-slider-item__btn {
    a {
      transition: all 0.3s;
      border: solid 3px $red;
      color: $red;
    }
  }
}
.hard-slider-item__icon {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
}
.hard-slider-item__icon-wrap {
  width: 94px;
  height: 94px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .fa-users,
  .fa-pencil-ruler,
  .fa-capsules,
  .fa-bicycle {
    color: #464646;
  }
  .svg-inline--fa.fa-users {
    width: 45px;
    height: 45px;
  }
  .svg-inline--fa.fa-pencil-ruler {
    width: 37px;
    height: 37px;
  }
  .svg-inline--fa.fa-capsules {
    width: 41px;
    height: 41px;
  }
  .svg-inline--fa.fa-bicycle {
    width: 43px;
    height: 43px;
  }
}
.hard-slider-item__title {
  margin-bottom: 18px;
}
.hard-slider-item__subtitle {
  width: 172px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
}
.hard-slider-item__btn {
  display: flex;
  justify-content: center;
  a {
    width: 99px;
    height: 40px;
    border: solid 3px #ebebeb;
    background-color: #fff;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact-main {
  padding: 140px 0 80px;
  &__inner {
    min-height: 175px;
    position: relative;
    background-color: #424344;
    box-shadow: 0px 15px 55px 0px rgba(0, 0, 0, 0.15);
  }
}
.contact-main__inner {
  .contact-main__img {
    position: absolute;
    left: 60px;
    bottom: -7px;
  }
}

.contact-nav {
  padding: 27px 67px 0 402px;
  margin-bottom: 33px;
  color: #fff;
  &__title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 20px;
  }
  &__subtitle {
    width: 438px;
    color: #fff;
    margin-bottom: 30px;
  }
}

.contact-nav-form {
  display: flex;
  justify-content: space-between;
  &__name,
  &__phone,
  &__subselect {
    width: 169px;
    height: 40px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #fff;
    background-color: #424344;
    border: 3px solid #ebebeb;
    outline: none;
    padding: 4px 10px;
    transition: all 0.3s;
    &::placeholder {
      color: #fff;
      transition: all 0.3s;
    }
    &:focus {
      background-color: #fff;
      border: 3px solid #fff;
      color: $red;
      &::placeholder {
        color: $red;
      }
    }
  }
}
.contact-nav-form__btn {
  width: 99px;
  height: 40px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: $red;
  outline: none;
  padding: 4px 17px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #fff;
    color: $red;
  }
  &:focus {
    color: $red;
    background-color: #fff;
  }
}

.contact-bottomline {
  min-height: 47px;
  padding: 0 70px 0 402px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .connect {
    max-width: 363px;
    width: 100%;
  }
  .connect__list {
    .info-subtitle {
      color: #949494;
      &::before {
        background-color: #949494;
      }
    }
    .fa-headphones-alt,
    .fa-envelope {
      color: $red;
    }
  }
  .social__list {
    .fa-skype,
    .fa-facebook-f,
    .fa-google-plus-g,
    .fa-twitter,
    .fa-vimeo-v,
    .fa-youtube,
    .fa-angle-left,
    .fa-angle-right {
      transition: all 0.3s;
      color: #949494;
    }
  }
}
.contact-bottomline {
  .social__list {
    li:hover {
      .fa-skype,
      .fa-facebook-f,
      .fa-google-plus-g,
      .fa-twitter,
      .fa-vimeo-v,
      .fa-youtube,
      .fa-angle-left,
      .fa-angle-right {
        color: $red;
      }
    }
  }
}

.mode {
  padding: 0 0 76px;
}
.mode-slider {
  .slick-slide {
    border: none;
  }
}
.mode-slider-block {
  display: flex;
  min-height: 814px;
  position: relative;
  width: 100%;
  &__img {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
  }
  &__box {
    width: 50%;
    background-color: #fff;
  }
}
.mode-slider-content__position {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
}
.mode-slider-content__inner {
  padding-left: 486px;
}
.mode-slider-content__item {
  width: 630px;
  margin-bottom: 64px;
  a {
    outline: none;
    display: flex;
  }
}
.mode-slider-content__img {
  &-item {
    width: 198px;
    height: 98px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
  }
}
.mode-slider-content__text {
  padding-top: 8px;
  padding-right: 5px;
  margin-left: 29px;
}
.mode-slider-content__title {
  transition: all 0.3s;
  margin-bottom: 5px;
}
.mode-slider-content__subtitle {
  letter-spacing: 0.24px;
  color: $grey;
}
.mode-slider-content__item {
  &:hover {
    .mode-slider-content__title {
      color: $red;
    }
  }
}
.mode-slider__position {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  z-index: 6;
}
.mode-slider__position-rel {
  width: 141px;
  margin: 0 auto;
}

.news {
  position: relative;
  padding: 151px 0 459px;
  &__title {
    width: 1714px;
    margin: 0 auto;
    letter-spacing: 74px;
    overflow: hidden;
  }
}

.news-slider__pos {
  position: absolute;
  top: 270px;
  right: 0;
  left: 0;
}
.news-slider-item__inner {
  display: flex;
}

.news-slider-item__block {
  max-width: 670px;
  width: 100%;
  min-height: 630px;
  position: relative;
  background-color: #424344;
  overflow: hidden;
  margin-right: 30px;
  &-img {
    source,
    img {
      max-width: 100%;
      width: 100%;
    }
  }
}
.news-slider-item__block-info {
  max-width: 670px;
  width: 100%;
  min-height: 234px;
  background-color: #fff;
  box-shadow: 0px -37px 67px 67px #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 60px 30px 71px;
}
.news-slider-item__block-title {
  transition: all 0.3s;
  margin-bottom: 2px;
}
.news-slider-item__block-data {
  width: 203px;
  margin-bottom: 21px;
}
.news-slider-item__block-subtitle {
  margin-bottom: 28px;
}
.news-slider-item__block-btn {
  a {
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #bababa;
    border: solid 3px #ebebeb;
    padding: 5px 25px;
    transition: all 0.3s;
  }
}
.news-slider-item__block:hover {
  cursor: pointer;
  .news-slider-item__block-title {
    color: $red;
  }
  .news-slider-item__block-btn {
    a {
      color: $red;
      border: solid 3px $red;
    }
  }
}

.news-slider-box {
  min-width: 471px;
  max-height: 299px;
  background-color: #424344;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.news-slider-box--1 {
  margin-bottom: 33px;
}
.news-slider-box__img {
  max-width: 341px;
  max-height: 299px;
  img {
    max-width: 100%;
  }
}
.news-slider-box__info {
  max-width: 269px;
  width: 100%;
  min-height: 299px;
  background-color: #fff;
  padding: 55px 31px 0 34px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  &-title {
    transition: all 0.3s;
    margin-bottom: 2px;
  }
  &-data {
    margin-bottom: 26px;
  }
  &-subtitle {
    margin-bottom: 32px;
  }
}
.news-slider-box__info-btn {
  a {
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #bababa;
    border: solid 3px #ebebeb;
    padding: 5px 25px;
    transition: all 0.3s;
  }
}
.news-slider-box:hover {
  cursor: pointer;
  .news-slider-box__info-title {
    color: $red;
  }
  .news-slider-box__info-btn {
    a {
      color: $red;
      border: solid 3px $red;
    }
  }
}

.news-slider__position {
  position: absolute;
  top: -76px;
  right: 0;
}

.parallax {
  padding: 0 0 392px;
  position: relative;
}
.parallax-box {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 773px;
  overflow: hidden;
  background-position: center -65px;
  &__inner {
    padding: 233px 0 0;
    text-align: center;
    color: #f3f3f3;
  }
}
.parallax-box__subtitle {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.8px;
  margin-bottom: 21px;
}
.parallax-box__title {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.44px;
  margin-bottom: 7px;
}
.parallax-box__bigtitle {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.96px;
  margin-bottom: 50px;
  span {
    font-weight: 700;
  }
}
.parallax-block__position {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -219;
  z-index: 5;
}
.parallax-block {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  position: relative;

  &__item {
    width: 100%;
    padding: 51px 63px;
  }
}
.parallax-block__item {
  &-icon {
    margin-bottom: 28px;
  }
  &-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    margin-bottom: 21px;
  }
  &-subtitle {
    letter-spacing: 0.24px;
  }
}

.parallax-block-item--1 {
  background-color: #d41b2d;
}
.parallax-block-item--2 {
  background-color: #a91321;
}
.parallax-block-item--3 {
  background-color: #8c0f1b;
}
.parallax-block-item--4 {
  background-color: #5e070f;
}

.parallax-circle-btn__position {
  position: absolute;
  top: -94px;
  left: 0;
  right: 0;
  z-index: 8;
  a {
    display: block;
  }
}
.parallax-circle-btn__one {
  width: 181px;
  height: 181px;
  border-radius: 50%;
  border: solid 1px rgba(#fff, 0.2);
  background-color: transparent;
  margin: 0 auto;
  transition: all 0.1s;
}
.parallax-circle-btn__two {
  width: 151px;
  height: 151px;
  border-radius: 50%;
  border: solid 1px rgba(#fff, 0.6);
  background-color: transparent;
  transition: all 0.1s;
}
.parallax-circle-btn__play {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  box-shadow: 0 0 57px 0 rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
}
.parallax-circle-btn__one,
.parallax-circle-btn__two,
.parallax-circle-btn__play {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax-circle-btn__play:hover {
  transform: scale(1.1);
  background-color: $red;
  transition: all 0.3s;
  .fa-play {
    color: #fff;
  }
  .svg-inline--fa.fa-play {
    transform: scale(0.9);
  }
}
.parallax-circle-btn__one:hover {
  transform: scale(0.9);
  border: solid 1px rgba(#fff, 0);
  .parallax-circle-btn__two {
    transform: scale(0.98);
    border: solid 1px rgba(#fff, 0);
  }
}

.expert {
  padding: 479px 0 9px;
  position: relative;
  &__title {
    width: 1658px;
    font-size: 320px;
    letter-spacing: 47px;
    margin: 0 auto;
  }
}

.expert-slider__pos {
  position: absolute;
  top: 198px;
  left: 0;
  right: 0;
}

.expert-slider {
  .slick-list {
    margin: 0 -5px;
  }
  .slick-slide {
    margin: 0 5px;
  }
}

.expert-slider-item__inner {
  width: 270px;
  height: 283px;
  background-color: #fff;
  position: relative;
  padding: 76px 30px 2px 30px;
  text-align: center;
  margin: 185px auto 70px auto;
  .social__list {
    .fa-skype,
    .fa-facebook-f,
    .fa-google-plus-g,
    .fa-twitter,
    .fa-vimeo-v,
    .fa-youtube,
    .fa-angle-left,
    .fa-angle-right {
      transition: all 0.3s;
      color: #949494;
    }
  }
}
.expert-slider-item__img {
  background-color: #f5f5f5;
  border-radius: 4px;
  position: absolute;
  top: -166px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  transition: all 0.3s;
  &-item {
    width: 226px;
    height: 217px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.expert-slider-item__name {
  transition: all 0.3s;
}
.expert-slider-item__profession {
  color: #9d9d9d;
  margin-bottom: 20px;
}
.expert-slider-item__subtitle {
  margin-bottom: 22px;
}
.expert-slider-item__inner:hover {
  cursor: pointer;
  box-shadow: 0px 15px 55px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  .expert-slider-item__img {
    top: -186px;
  }
  .expert-slider-item__name {
    color: $red;
  }
}
.expert-slider-item__inner {
  .social__list {
    li:hover {
      .fa-skype,
      .fa-facebook-f,
      .fa-google-plus-g,
      .fa-twitter,
      .fa-vimeo-v,
      .fa-youtube,
      .fa-angle-left,
      .fa-angle-right {
        color: $red;
      }
    }
  }
}
.expert-slider__position {
  position: absolute;
  top: -41px;
  right: 0;
}

.store-index {
  background-color: $red;
  padding: 147px 0 446px;
  position: relative;
  overflow: hidden;
  .mainheading {
    padding-top: 85px;
  }
}
.mainheading-store__title,
.mainheading-store__subtitle {
  color: #fff;
}
.store-index__title {
  width: 986px;
  font-size: 250px;
  letter-spacing: 50px;
  color: #b61626;
  margin: 0 auto;
}

.store-slider__pos {
  position: absolute;
  top: 354px;
  left: 0;
  right: 0;
}

.store-slider {
  .slick-list {
    margin: 0 -10px;
  }
  .slick-slide {
    margin: 0 10px;
  }
}

.store-card {
  width: 270px;
  height: 434px;
  background-color: #fff;
  padding: 26px 27px;
}
.store-card-index {
  margin: 0 auto !important;
}
.store-card__img {
  width: 216px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 22px;
}
.store-card__title {
  margin-bottom: 18px;
  transition: all 0.3s;
}
.store-card__subtitle {
  margin-bottom: 27px;
}

.store-card__wrapper {
  margin-left: -10px;
}
.store-card__details {
  display: flex;
  margin-bottom: 15px;
}
.store-card__details-price {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  color: #1f1f1f;
  display: flex;
  align-items: center;
  margin-left: 21px;
  li + li {
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #919191;
    text-decoration: line-through;
    margin-left: 8px;
    sup {
      font-size: 11px;
    }
  }
  sup {
    font-size: 12px;
  }
}
.store-card__details-btn {
  margin-left: 26px;
  a {
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #999999;
    border: solid 3px #ebebeb;
    padding: 5px 25px;
    transition: all 0.3s;
    &:hover {
      color: $red;
      border: solid 3px $red;
    }
  }
}
.store-card__delivery {
  display: flex;
  li + li {
    margin-left: 7px;
  }
}
.store-card__delivery-btn {
  a {
    width: 118px;
    height: 40px;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #495057;
    border: solid 3px #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    span {
      margin-left: 10px;
    }
    &:hover {
      color: $red;
      border: solid 3px $red;
      .fa-shipping-fast,
      .fa-shield-alt {
        color: $red;
      }
    }
  }
}
.store-card:hover {
  cursor: pointer;
  .store-card__title {
    color: $red;
  }
}
.store-slider__position {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

.customers {
  position: relative;
  padding: 327px 0 1px;
  background-color: #f8f8f8;
  overflow: hidden;
}
.customers-mainheading__title {
  padding-top: 84px;
}
.customers__title {
  width: 1242px;
  font-size: 150px;
  line-height: 160px;
  color: rgba(#d9d9d9, 0.6);
  letter-spacing: 22.5px;
  margin: 0 auto 267px auto;
}
.customers-block {
  position: absolute;
  top: 347px;
  left: 0;
  right: 0;
  &__inner {
    line-height: 34px;
    color: #626262;
    text-align: center;
  }
  &__subtitle {
    font-size: 22px;
    letter-spacing: 0.44px;
    margin-bottom: 11px;
  }
  &__title {
    font-size: 36px;
    letter-spacing: 0.72px;
    margin-bottom: 113px;
    span {
      font-weight: 700;
    }
  }
}

.customers-box__inner {
  background-color: #f8f8f8;
}
.customers-box {
  background-color: #e6e6e6;
  position: relative;
  padding: 90px;
}
.customers-box__pos {
  position: absolute;
  top: -59px;
  left: 0;
  right: 0;
}

.customers-box-slider {
  .slick-track {
    transform: translate3d(0px, 0px, 0px) !important;
  }
  .slick-current {
    .customers-box-slider-item__inner {
      background-color: #e4e4e4;
    }
  }
}

.customers-box-slider-item__inner {
  width: 125px;
  height: 205px;
  text-align: center;
  cursor: pointer;
  padding: 15px 15px;
  position: relative;
  transition: all 0.3s;
  margin: 0 auto;
}
.customers-box-slider-item__inner:hover {
  background-color: #e4e4e4;
}
.customers-box-slider-item__img {
  width: 94px;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto 24px auto;
}
.customers-box-slider-item__wrap {
  width: 185px;
  position: absolute;
  top: 133px;
  left: 50%;
  transform: translateX(-50%);
}
.customers-box-slider-item__name {
  color: #8c8c8c;
  margin-bottom: 3px;
}
.customers-box-slider-item__career {
  color: $grey;
}

.customers-sec {
  background-color: #f8f8f8;
  overflow: hidden;
}

.customers-slider {
  .slick-list {
    margin: 0;
    overflow: visible;
  }
  .slick-slide {
    margin: 0;
  }
  .slick-current {
    .customers-slider-item__box {
      filter: grayscale(0);
    }
    .customers-slider-item__btn {
      display: block;
    }
  }
}
.customers-slider-item__inner {
  min-height: 400px;
  overflow: hidden;
  margin-bottom: -8px;
}
.customers-slider-item__box {
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.customers-slider-item__btn {
  display: none;
  position: absolute;
  bottom: 68px;
  left: 50%;
  transform: translateX(-50%);
  a {
    width: 132px;
    height: 40px;
    font-weight: 700;
    letter-spacing: 0.48px;
    color: #fff;
    text-transform: uppercase;
    background-color: $red;
    box-shadow: 0px 15px 25px 0 rgba(238, 32, 52, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      color: $red;
      background-color: #fff;
      box-shadow: 0px 15px 25px 0 rgba(#fff, 0.7);
    }
  }
}
.customers-slider-item__box:hover {
  filter: grayscale(0);
  .customers-slider-item__btn {
    display: block;
  }
}

.customers-slider__position {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
.customers-slider__position-rel {
  position: relative;
  max-width: 1920px;
  width: 100%;
}

.partners {
  background-color: #f8f8f8;
  padding: 54px 0;
}
.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  li {
    opacity: 0.4;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

.footer {
  background-color: #f8f8f8;
  overflow: hidden;
}

.footer-contacts {
  padding: 20px 0;
  background-color: #fff;
  border-top: solid 1px #eaeaea;
  border-bottom: solid 1px #eaeaea;
}
.footer-contacts__inner {
  display: flex;
  justify-content: space-between;
}
.footer-contacts__item--1 {
  max-width: 653px;
  width: 100%;
  .connect__list {
    .info-subtitle {
      color: #949494;
      &::before {
        background-color: #949494;
      }
    }
  }
}

.footer-contacts__item--2 {
  .social__list {
    .fa-skype,
    .fa-facebook-f,
    .fa-google-plus-g,
    .fa-twitter,
    .fa-vimeo-v,
    .fa-youtube,
    .fa-angle-left,
    .fa-angle-right {
      transition: all 0.3s;
      color: #949494;
    }
  }
  .social__list {
    li {
      margin-left: 36px;
    }
  }
  .social__list {
    li:hover {
      .fa-skype,
      .fa-facebook-f,
      .fa-google-plus-g,
      .fa-twitter,
      .fa-vimeo-v,
      .fa-youtube,
      .fa-angle-left,
      .fa-angle-right {
        color: $red;
      }
    }
  }
}

.footer-block {
  background-color: #f8f8f8;
  padding: 73px 0 72px;
  background-image: url(../images/footer-block-img-bg.png);
  background-repeat: no-repeat;
  background-size: 481px 520px;
  background-position: right center;
}
.footer-block__inner {
  display: flex;
  justify-content: space-between;
}

.footer-block-info {
  max-width: 490px;
  width: 100%;
}
.footer-block-info__wrap {
  max-width: 438px;
  width: 100%;
  padding-bottom: 58px;
}
.footer-block-info__wrap-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.44px;
  color: #222222;
  margin-bottom: 28px;
}
.footer-block-info__wrap-subtitle {
  letter-spacing: 0.72px;
  color: #aeaeae;
  margin-bottom: 28px;
}
.footer-block-btn {
  display: flex;
}
.footer-block-btn__item {
  a {
    font-weight: 700;
    letter-spacing: 0.48px;
    color: #999999;
    text-transform: uppercase;
    border: solid 3px #ebebeb;
    background-color: transparent;
    padding: 4px 23px;
    transition: all 0.3s;
    &:hover {
      color: $red;
      border: solid 3px $red;
    }
  }
}
.footer-block-btn__item--2 {
  margin-left: 31px;
  a {
    padding: 4px 30px;
  }
}

.footer-block-info__inner {
  display: flex;
  justify-content: space-between;
}
.footer-block-info__nav-list {
  li {
    a {
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.48px;
      color: #989898;
    }
  }
  li:hover {
    a {
      position: relative;
      &::before {
        content: "";
        width: 7px;
        height: 10px;
        background-image: url(../images/angle-right-solid.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: -14px;
        transform: translateY(-50%);
        transition: all 0.3s;
      }
    }
  }
}
.footer-block-info__nav-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  color: #989898;
  cursor: default;
  margin: 0 0 30px 0;
}
.footer-block-info__nav:hover {
  .footer-block-info__nav-title {
    color: $red;
    transition: all 0.3s;
  }
}

.footer-block__item {
  max-width: 342px;
  width: 100%;
  position: relative;
  &-inner {
    position: absolute;
    right: 78px;
    bottom: 0px;
  }
  &-logo {
    margin-bottom: 15px;
  }
}
.footer-block__item-logo{
  svg{
    width: auto;
    height: 30px;
    fill: #8c8c8c;
  }
}

.footer-down {
  background-color: #f8f8f8;
}
.footer-down__inner {
  border-top: solid 1px #eaeaea;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.footer-down__connect {
  .connect__list {
    .info-subtitle {
      color: #8c8c8c;
      &::before {
        background-color: #8c8c8c;
      }
    }
  }
}

@import "header-bg";
@import "logreg";
@import "error";
@import "contact";
@import "services";
@import "about";
@import "team";
@import "blog";
@import "faq";
@import "store";
@import "media";
