$main: #636363;
$yel: #ffbb1c;
$gold: #a38a71;
$ba: #bababa;
$stitle: #808080;
$stext: #707070;
$black: #383637;
$itemt: #d5d5d5;
$black2: #2b292a;

$anim: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);