@media (max-width: 1517px) {
    .header-nav__item--btn {
        position: relative;
        top: initial;
        left: initial;
        transform: translateY(0);
    }
    .photo-btn-mix {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .random-btn-positioning {
        position: relative;
        left: initial;
        top: initial;
        margin-bottom: -6px;
    }
    .contact-navigation__inner {
        flex-direction: column;
        padding: 120px 0 40px;
    }
    .contact-navigation {
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 50%;
        overflow-x: hidden;
        &__inner {
            height: 100%;
        }
        &.active {
            top: initial;
            left: 0;
        }
    }
    .contact__list {
        flex-direction: column;
        &-li + &-li {
            margin-left: 0;
        }
        &-li {
            margin-bottom: 30px;
        }
    }
    .contact-navigation__wrap {
        &::before {
            top: 0;
            bottom: initial;
        }
    }
}

@media (max-width: 1200px) {
    .photo-mix {
        flex-direction: column;
        align-items: center;
    }
    .photo {
        height: 4100px;
    }
    .window-menu {
        display: block;
    }
}

@media (max-width: 852px) {
    .header-nav {
        min-height: 88px;
        padding-top: 26px;
    }
    .header-nav__item-menu {
        display: none;
    }
    .contact-navigation__inner {
        padding: 60px 0 40px;
    }
}

@media (max-width: 719px) {
    .photo-mix-item {
        width: 370px;
        height: 238px;
    }
    .photo-mix-item__img {
        width: 370px;
        height: 238px;
        img {
            width: 370px;
            height: 238px;
        }
    }
    .photo {
        height: 2071px;
    }
    .breadcrumb-item-arrow-prev {
        a {
            span:nth-child(2) {
                margin-left: 20px;
            }
        }
    }
    .breadcrumb-item-arrow-next {
        a {
            span:nth-child(1) {
                margin-right: 20px;
            }
        }
    }
    .footer-nav__inner {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 618px) {
    .header-bg {
        background-position: right -220px center;
    }
    .header-bg__subtext {
        margin-bottom: 242px;
    }
    .header-bg__subtitle {
        font-size: 34px;
    }
    .header-bg__title {
        font-size: 38px;
        line-height: 44px;
    }
    .photo__inner {
        top: -220px;
    }
    .photo-btn-mix {
        button {
            margin-bottom: 4px;
        }
    }
    .photo {
        height: 2275px;
    }
    .contact-navigation {
        max-width: 100%;
    }
}

@media (max-width: 540px) {
    .header-bg__subtitle {
        margin-bottom: 0;
    }
    .header-bg__title {
        font-size: 40px;
    }
    .photo-mix-item {
        width: 290px;
        height: 148px;
    }
    .photo-mix-item__img {
        width: 290px;
        height: 148px;
        img {
            width: 290px;
            height: 148px;
        }
    }
    .photo {
        height: 1425px;
    }
    .footer__inner {
        margin-bottom: 94px;
    }
    .breadcrumb {
        flex-direction: column;
        align-items: center;
        &-item {
            margin-bottom: 25px;
        }
    }
    .footer-nav__item {
        margin-bottom: 20px;
    }
    .footer-social__list {
        flex-direction: column;
        align-items: center;
        &-li + &-li {
            margin-left: 0;
        }
    }
}
