@import "vars";
@import "global";

.header-nav {
    max-width: 100%;
    width: 100%;
    min-height: 158px;
    background-color: #fff;
    padding-top: 65px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
}

.logo{
    svg{
        width: auto;
        height: 40px;
        fill: #222222;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    &-li + &-li {
        margin-left: 44px;
    }
}
.menu__list-li {
    a {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.1px;
        color: #121212;
        transition: all 0.2s;
        &:hover {
            color: $red;
        }
    }
}

.header-bg {
    width: 100%;
    height: 762px;
    background-image: url(../images/header-img-bg.jpg);
    background-image: url(../images/header-img-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 57px 0 0;
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #212121;
        opacity: 0.9;
        z-index: 2;
    }
    &__inner {
        position: relative;
        z-index: 3;
    }
}

.header-bg__subtext {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    span {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4.2px;
        color: #fff;
    }
    span:nth-child(1) {
        margin-bottom: 2px;
    }
    span:nth-child(2) {
        color: $red;
    }
}
.header-bg__subtitle {
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    color: #636363;
    margin-bottom: 6px;
}
.header-bg__title {
    font-size: 45px;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 0.9px;
    color: #fff;
}

.photo {
    width: 100%;
    height: 1736px;
    position: relative;
    &__inner {
        position: absolute;
        top: -424px;
        left: 0;
        right: 0;
        z-index: 4;
    }
}

.photo-btn-mix {
    display: flex;
    align-items: center;
    margin-bottom: 57px;
    position: relative;
    button {
        font-weight: 700;
        letter-spacing: 2.1px;
        color: #fff;
        &:hover {
            color: $red;
        }
    }
}

.random-btn-positioning {
    position: absolute;
    left: -174px;
    top: 285px;
}
.random-btn {
    width: 24px;
    height: 24px;
    position: relative;
    span {
        display: block;
        width: 4px;
        height: 4px;
        background-color: #fff;
        position: absolute;
        transition: all 0.2s;
    }
    span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3) {
        top: 0;
    }
    span:nth-child(1),
    span:nth-child(4),
    span:nth-child(7) {
        left: 0;
    }
    span:nth-child(2),
    span:nth-child(8) {
        left: 50%;
        transform: translateX(-50%);
    }
    span:nth-child(3),
    span:nth-child(6),
    span:nth-child(9) {
        right: 0;
    }
    span:nth-child(4),
    span:nth-child(6) {
        top: 50%;
        transform: translateY(-50%);
    }
    span:nth-child(7),
    span:nth-child(8),
    span:nth-child(9) {
        bottom: 0;
    }
    span:nth-child(5) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.random-btn:hover {
    span {
        background-color: $red;
    }
}

.photo-mix {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.photo-mix-item {
    width: 570px;
    height: 438px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 32px;
    transition: all 0.3s;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -100%;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
    }
}

.photo-mix-item__img {
    width: 570px;
    height: 438px;
    img {
        width: 570px;
        height: 438px;
        object-fit: cover;
        object-position: center center;
    }
}

.photo-mix-item-info {
    position: absolute;
    left: 0;
    bottom: 61px;
    transform: scale(0);
    z-index: 2;
    transition: all 0.3s;
}
.photo-mix-item-info__inner {
    padding-left: 170px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 72px;
        width: 0;
        height: 3px;
        background-color: $red;
        transition: all 0.3s;
        transition-delay: 0.3s;
    }
}
.photo-mix-item-info__title {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.44px;
    color: #fff;
    margin-bottom: 6px;
}
.photo-mix-item-info__subtitle {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.24px;
    color: #a0a0a0;
    span + span {
        margin-left: 12px;
    }
}

.photo-mix-item:hover {
    box-shadow: 0 15px 110px rgba(0, 0, 0, 0.35);
    &::before {
        bottom: 0;
        background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.8) 36%, rgba(0, 0, 0, 0) 100%);
    }
    .photo-mix-item-info {
        transform: scale(1);
    }
    .photo-mix-item-info__inner {
        &::before {
            width: 84px;
        }
    }
}

.footer {
    background-color: #121212;
    padding: 304px 0 80px;
}

.footer__inner {
    margin-bottom: 144px;
}
.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.breadcrumb-item-arrow-prev,
.breadcrumb-item-arrow-next {
    a {
        display: flex;
    }
    span {
        display: block;
        color: #606060;
    }
    .fa-arrow-left,
    .fa-arrow-right {
        color: #606060;
        transition: all 0.2s;
    }
    .svg-inline--fa.fa-arrow-left,
    .svg-inline--fa.fa-arrow-right {
        width: 20px;
        height: 20px;
    }
}
.breadcrumb-item-arrow-prev {
    a {
        span:nth-child(2) {
            margin-left: 50px;
        }
    }
}
.breadcrumb-item-arrow-prev,
.breadcrumb-item-pagination,
.breadcrumb-item-arrow-next {
    span {
        text-transform: uppercase;
        letter-spacing: 2.1px;
        transition: 0.2s;
    }
}
.breadcrumb-item-pagination {
    span {
        width: 68px;
        height: 47px;
        border: 2px solid #f22f1e;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $red;
    }
}
.breadcrumb-item-arrow-next {
    a {
        span:nth-child(1) {
            margin-right: 50px;
        }
    }
}
.breadcrumb-item-arrow-prev:hover,
.breadcrumb-item-arrow-next:hover {
    span {
        color: $red;
    }
    .fa-arrow-left,
    .fa-arrow-right {
        color: $red;
    }
}

.footer-nav__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-social__list {
    display: flex;
    flex-wrap: wrap;
    &-li + &-li {
        margin-left: 30px;
    }
}
.footer-social__list-li {
    a {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        color: #8d8d8d;
        transition: all 0.2s;
        &:hover {
            color: $red;
        }
    }
}
.copyright {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    color: #8d8d8d;
}

@import "media";
