@media (max-width: 100%), (max-height: 1060px) {
    .menu-window-logo {
        width: 168px;
        height: 168px;
        top: -65px;
        left: -48px;
    }
    .menu-window-logo__inner-pos {
        top: 85px;
        left: 70px;
        right: initial;
        bottom: initial;
    }
    .menu-body {
        &::before {
            left: initial;
            right: -140px;
            bottom: -155px;
            width: 264px;
            height: 264px;
        }
        &::after {
            left: initial;
            right: 50px;
            bottom: -75px;
            width: 140px;
            height: 140px;
        }
    }
    .menu-window-wrap {
        padding: 110px 0 0 70px;
    }
}

@media (max-width: 1700px) {
    .price {
        &::before {
            right: 15px;
        }
        &::after {
            left: 15px;
        }
    }
}

@media (max-width: 1470px) {
    .headerline__item--modify1 {
        max-width: 627px;
    }
}

@media (max-width: 1340px) {
    .menu {
        display: none;
    }
    .news__inner {
        &::after {
            right: 15px;
        }
    }
}

@media (max-width: 1252px) {
    .block {
        padding: 115px 0 151px;
        &__inner {
            flex-direction: column;
            align-items: center;
        }
    }
    .block__item {
        margin-bottom: 30px;
    }
    .block__item--bg1,
    .block__item--bg2,
    .block__item--bg3 {
        &::before {
            top: 0;
            left: 0;
        }
    }
    .block__item--order1 {
        order: 1;
    }
    .block__item--order2 {
        order: 2;
    }
    .block--modify1 {
        padding: 115px 0 258px;
    }
    .block--modify2 {
        padding: 115px 0 165px;
    }
}

@media (max-width: 1230px) {
    .price__inner {
        flex-direction: column;
        align-items: center;
    }
    .price-item {
        margin-bottom: 30px;
    }
}

@media (max-width: 1220px) {
    .news__inner {
        height: 674px;
        &::after {
            bottom: 0px;
        }
    }
    .news__inner,
    .team__inner {
        text-align: center;
    }
    .team__inner {
        height: 710px;
        &::before {
            bottom: 0;
        }
        &::after {
            top: 188px;
            left: 0;
            bottom: initial;
            width: 114px;
            height: 114px;
        }
    }
    .news-slider-positioning,
    .team-slider-positioning {
        top: 140px;
    }
    .news-slider-arrow-btn {
        left: initial;
        right: 15px;
    }
    .team-slider-arrow-btn {
        right: initial;
        left: 15px;
    }
    .container-slider-overflow--news,
    .container-slider--news {
        margin-right: auto;
    }
    .container-slider-overflow--team,
    .container-slider--team {
        margin-left: auto;
    }
    .team {
        padding: 15px 0 140px;
    }
}

@media (max-width: 1170px) {
    .menu-window__inner {
        max-width: 100%;
    }
    .slider-arrow-btn {
        display: none;
    }
    .header-slider-item {
        margin: 0 auto;
    }
    .header-slider-item__img {
        img {
            min-height: auto;
        }
    }
}

@media (max-width: 1120px) {
    .headerline {
        padding-top: 30px;
    }
    .header-title {
        padding-top: 41px;
        span {
            font-size: 26px;
        }
        span:nth-child(1),
        span:nth-child(2) {
            font-size: 25px;
        }
    }
    .contact__inner {
        &::before {
            transform: rotate(125deg);
        }
    }
}

@media (max-width: 1050px) {
    .references-item__list {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .references-item__list-li {
        margin: 0 15px 30px 15px;
    }
    .footer__inner {
        padding: 0 10px;
    }
    .footer__wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 0;
    }
    .footer-wrapper-item {
        margin: 0 15px 30px 15px;
    }
}

@media (max-width: 986px) {
    .header {
        &::before,
        &::after {
            width: 100%;
            height: 50%;
            top: initial;
        }
        &::before {
            bottom: 0;
        }
        &::after {
            top: 0;
            left: 0;
            right: initial;
        }
    }
    .menu-btn {
        margin-left: 40px;
    }
    .headerline__item--modify1,
    .headerline__item--modify2 {
        max-width: initial;
        width: initial;
    }
    .header-title {
        span:nth-child(1),
        span:nth-child(3) {
            color: #fff;
        }
    }
    .logo {
        svg {
            fill: #fff;
        }
    }
}

@media (max-width: 877px) {
    .price {
        &::before {
            top: 735px;
        }
    }
}

@media (max-width: 839px) {
    .services {
        &::before {
            left: 15px;
        }
        &::after {
            right: 15px;
        }
    }
}

@media (max-width: 720px) {
    .block__item {
        min-height: auto;
    }
    .block__item--bg1 {
        &::after {
            width: 110px;
            height: 110px;
            right: 0;
        }
    }
    .block__item--bg1,
    .block__item--bg2,
    .block__item--bg3 {
        &::before {
            width: 310px;
            height: 250px;
        }
        .block__item-img {
            position: relative;
            top: 0;
            right: 0;
        }
    }
    .block--modify1 {
        padding: 115px 0 115px;
    }
    .block--modify2 {
        padding: 115px 0 40px;
    }
}

@media (max-width: 612px) {
    .contact {
        padding: 81px 0 155px;
    }
    .contact__inner {
        margin-bottom: 65px;
        &::before {
            top: 115px;
            left: 53px;
            width: 220px;
            height: 298px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        &::after {
            background-color: #2e356b;
        }
    }
    .social {
        display: none;
    }
}

@media (max-width: 568px) {
    .footer__wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }
    .copyright__inner {
        flex-direction: column;
        align-items: center;
    }
    .copyright__inner-title {
        margin-bottom: 10px;
    }
}

@media (max-width: 540px) {
    .team {
        padding: 15px 0 64px;
    }
    .contact-form__group {
        .contact-form__input {
            min-height: 80px;
            padding: 10px 60px 10px 10px;
        }
        .contact-form__placeholder {
            top: 30px;
            left: 10px;
        }
    }
    .contact-form__input:focus ~ .contact-form__placeholder,
    .contact-form__input:valid ~ .contact-form__placeholder {
        top: 0px !important;
    }
    .contact-form__positioning {
        top: 20px;
        right: 10px;
        transform: translateY(0);
    }
}

@media (max-width: 500px) {
    .news__inner {
        &::before {
            width: 295px;
            height: 237px;
        }
    }
    .team__inner {
        &::before {
            width: 252px;
            height: 237px;
        }
    }
}

@media (max-width: 455px) {
    .header-slider-item {
        min-height: 552px;
    }
    .services {
        &::before {
            top: 202px;
            width: 222px;
            height: 222px;
        }
        &::after {
            top: -65px;
            width: 131px;
            height: 131px;
        }
    }
    .header-slider-item__img {
        margin-bottom: 36px;
    }
    .header-slider-item__wrap {
        margin-bottom: 0;
        &-subtitle {
            margin-bottom: 10px;
        }
        &-title {
            font-size: 34px;
            line-height: 40px;
        }
    }
    .title,
    .block__item-title,
    .price__wrapper-title,
    .contact__inner-title,
    .slider-title {
        font-size: 24px !important;
        line-height: 34px !important;
    }
    .block__item-subtitle {
        margin-bottom: 3px;
    }
    .contact__inner-title {
        margin-bottom: 15px;
    }
    .contact__inner-text {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .services {
        padding: 330px 0;
    }
    .services-slider-item {
        height: 600px;
    }
    .services-slider-item__block {
        margin: 0 0 139px;
    }
    .services-slider-item__block-icon {
        left: 10px;
        transform: translateY(-50%);
    }
    .services-slider-item__box {
        padding: 0 10px 0;
    }
    .services-slider-item__btn {
        left: 10px;
    }
}

@media (max-width: 412px) {
    .price-item {
        min-height: 570px;
    }
    .price-item-block {
        min-height: 232px !important;
        padding: 25px 25px 25px 25px !important;
    }
    .price-item__inner {
        padding: 25px 25px 25px 56px;
    }
    .price-item-check {
        margin-bottom: 25px;
    }
    .price-item--modify1 {
        .price-item-block {
            &__title {
                margin-bottom: 26px;
            }
        }
    }
}

@media (max-width: 400px) {
    .header-slider-item {
        min-height: 440px;
    }
    .block__item--bg1,
    .block__item--bg2,
    .block__item--bg3 {
        &::before {
            width: 285px;
            height: 229px;
        }
    }
    .news__inner {
        &::before {
            width: 285px;
            height: 230px;
        }
    }
    .contact__inner {
        &::before {
            width: 175px;
            height: 237px;
        }
    }
}

@media (max-width: 384px) {
    .menu-window-wrap {
        padding: 110px 0 0 15px;
    }
}
