@import "vars";
@import "global";

.header {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
    }
    &::before {
        left: 0;
        background-color: #fff;
        transition: all 0.4s;
    }
    &::after {
        right: 0;
        background-color: #2e356b;
        transition: all 0.4s;
    }
}

.headerline {
    padding-top: 60px;
    &__inner,
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    width: 56px;
    height: 29px;
    &__inner {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    svg{
        width: auto;
        height: 30px;
        fill: #262932;
        transition: all 0.2s;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    li + li {
        margin-left: 30px;
    }
    a {
        font-family: $font;
        color: #000;
        font-size: 12px;
        font-weight: 600;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        transition: all 0.2s;
        &:hover {
            color: $or;
        }
    }
}

.social__list {
    display: flex;
    align-items: center;
    .fa-skype,
    .fa-facebook-square,
    .fa-twitter,
    .fa-youtube {
        color: #fff;
        transition: all 0.2s;
    }
    .svg-inline--fa.fa-skype,
    .svg-inline--fa.fa-facebook-square,
    .svg-inline--fa.fa-twitter {
        width: 15px;
        height: 15px;
    }
    .svg-inline--fa.fa-youtube,
    .svg-inline--fa.fa-instagram {
        width: 17px;
        height: 17px;
    }
    a {
        width: 41px;
        height: 50px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: $or;
            transition: all 0.2s;
        }
    }
    a:hover {
        &::before {
            width: 100%;
        }
        .fa-skype,
        .fa-facebook-square,
        .fa-twitter,
        .fa-youtube,
        .fa-instagram {
            color: $or;
        }
    }
    li + li {
        margin-left: 20px;
    }
}

.headerline__item--modify1 {
    max-width: 683px;
    width: 100%;
    transition: all 0.2s;
}
.headerline__item--modify2 {
    max-width: 380px;
    width: 100%;
}

.header-title {
    padding-top: 61px;
    margin-bottom: 45px;
    transition: all 0.2s;
    span {
        font-family: $font;
        font-size: 30px;
        line-height: 40px;
        font-weight: 200;
        color: #2c2c2c;
        transition: all 0.2s;
    }
    span:nth-child(1),
    span:nth-child(2) {
        font-size: 28px;
    }
    span:nth-child(2) {
        font-weight: 600;
        color: $or;
    }
}

.header-slider-item {
    max-width: 1070px;
    width: 100%;
    min-height: 654px;
    transition: all 0.2s;
}
.header-slider-item__img {
    box-shadow: 0 12px 68px rgba(0, 0, 0, 0.22);
    margin-bottom: 56px;
    transition: all 0.2s;
    img {
        max-width: 1070px;
        width: 100%;
        min-height: 654px;
        object-fit: cover;
        object-position: center center;
        transition: all 0.2s;
    }
}
.header-slider-item__wrap {
    margin-bottom: 107px;
    &-subtitle {
        font-size: 14px;
        text-transform: uppercase;
        color: #aaaaaa;
        margin-bottom: 25px;
        transition: all 0.2s;
    }
    &-title {
        font-size: 50px;
        line-height: 50px;
        font-weight: 300;
        color: #313131;
        transition: all 0.2s;
    }
}
.header-slider {
    .slick-list {
        overflow: visible;
    }
}

.container-services {
    max-width: 1320px;
    margin: 0 auto;
    overflow: hidden;
}
.services {
    padding: 372px 0;
    position: relative;
    transition: all 0.2s;
    &::before,
    &::after {
        content: "";
        position: absolute;
        transition: all 0.2s;
    }
    &::before {
        top: 141px;
        left: 205px;
        width: 322px;
        height: 322px;
        border-radius: 50%;
        border: 20px solid $or;
    }
    &::after {
        top: -95px;
        right: 65px;
        width: 191px;
        height: 191px;
        border-radius: 50%;
        background-color: $or;
    }
}
.services__inner {
    width: 100%;
    position: absolute;
    top: -140px;
    z-index: 2;
}

.services-slider-item {
    max-width: 370px;
    width: 100%;
    height: 644px;
    background-color: #fff;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0 auto;
}
.services-slider-item__inner {
    height: 100%;
    position: relative;
}
.services-slider-item__block {
    width: 370px;
    height: 322px;
    position: relative;
    overflow: hidden;
    margin: 0 0 169px;
    transition: all 0.2s;
    &::before {
        content: "";
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($or, 0.7);
        z-index: 2;
        transition: all 0.2s;
    }
    &-img,
    &-icon {
        position: absolute;
        transition: all 0.2s;
    }
    &-img {
        top: -100%;
        z-index: 1;
    }
    &-icon {
        top: 84%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
}
.services-slider-item__block-img {
    img {
        width: 370px;
        height: 322px;
        object-fit: cover;
        object-position: center center;
    }
}
.services-slider-item__block-icon {
    svg {
        width: auto;
        height: 94px;
        fill: $or;
        transition: all 0.2s;
    }
}

.services-slider-item__box {
    height: 76px;
    padding: 0 70px 0;
    position: relative;
    overflow: hidden;
    transition: all 0.2s;
    &-subtitle {
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        color: #bababa;
        margin-bottom: 8px;
    }
    &-title {
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 24px;
        a {
            color: $or;
        }
    }
    &-subtext {
        font-weight: 300;
        line-height: 22px;
        opacity: 0;
        transition: all 0.2s;
    }
}
.services-slider-item__btn {
    font-size: 12px;
    text-transform: uppercase;
    color: #7f7f7f;
    cursor: pointer;
    position: absolute;
    left: 74px;
    bottom: 23px;
    transition: all 0.2s;
    &:hover {
        color: $or;
    }
}

.services-slider-item__inner:hover {
    .services-slider-item__block {
        margin: 0 0 58px;
        &::before {
            top: 0;
        }
        .services-slider-item__block-img {
            top: 0;
        }
        .services-slider-item__block-icon {
            top: 50%;
            svg {
                fill: #fff;
            }
        }
    }
    .services-slider-item__box {
        height: 322px;
        .services-slider-item__box-subtext {
            opacity: 1;
        }
    }
}

.services-slider {
    .slick-list {
        margin: 0 -15px;
        overflow: visible !important;
    }
    .slick-slide {
        opacity: 0;
        padding: 90px 0 52px;
        margin: 0 15px;
        transition: all 0.2s;
    }
    .slick-active {
        opacity: 1 !important;
    }
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            margin: 0 10px;
        }
        button {
            font-size: 0;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            border: 5px solid #d4d4d4;
            background-color: transparent;
            transition: all 0.2s;
            outline: none;
            cursor: pointer;
        }
        .slick-active {
            button {
                border: 5px solid #e95648;
            }
        }
    }
}

.block {
    background-color: #fff;
    padding: 184px 0 151px;
    position: relative;
    z-index: 1;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}
.block__item {
    max-width: 585px;
    width: 100%;
    min-height: 366px;
    &-subtitle {
        margin-bottom: 20px;
    }
    &-title {
        margin-bottom: 20px;
    }
}

.block__item--bg1 {
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.2s;
    }
    &::before {
        top: -120px;
        left: 100px;
        width: 434px;
        height: 350px;
        background-image: url(../images/block-item-bg1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &::after {
        right: -22px;
        bottom: -89px;
        width: 153px;
        height: 153px;
        border-radius: 50%;
        border: 20px solid $or;
    }
    .block__item-img {
        position: absolute;
        top: -29px;
        right: -16px;
        img {
            max-width: 353px;
            width: 100%;
            min-height: auto;
        }
    }
}

.block--modify1 {
    padding: 121px 0 323px;
    background-color: rgba(#fff, 0);
}
.block__item--order1 {
    order: 2;
}
.block__item--order2 {
    order: 1;
}
.block__item--modify1 {
    .block__item-subtitle {
        margin-bottom: 3px;
    }
    .block__item-title {
        a {
            color: $blue;
        }
    }
    .block__item-btn {
        a:hover {
            color: $blue;
        }
    }
}
.block__item--bg2 {
    &::before {
        top: 9px;
        left: 10px;
        background-image: url(../images/block-item-bg2.svg);
    }
    &::after {
        right: 42px;
        bottom: -48px;
        width: 110px;
        height: 110px;
        border: 20px solid $blue;
    }
    .block__item-img {
        top: 7px;
        right: 87px;
        img {
            max-width: 503px;
            width: 100%;
            min-height: auto;
        }
    }
}

.block--modify2 {
    padding: 121px 0 233px;
}
.block__item--modify2 {
    max-width: 600px;
    .block__item-subtitle {
        margin-bottom: 1px;
    }
    .block__item-title {
        font-size: 42px;
        a {
            color: $bluew;
        }
    }
    .block__item-btn {
        a:hover {
            color: $bluew;
        }
    }
}
.block__item--width1 {
    max-width: 615px;
}
.block__item--width2 {
    max-width: 555px;
}
.block__item--bg3 {
    &::before {
        top: 7px;
        left: 54px;
        background-image: url(../images/block-item-bg3.svg);
    }
    &::after {
        display: none;
    }
    .block__item-img {
        top: 111px;
        right: 21px;
        img {
            max-width: 571px;
            width: 100%;
            min-height: auto;
        }
    }
}
.block__item--bg1,
.block__item--bg2,
.block__item--bg3 {
    transition: all 0.2s;
}

.price {
    padding: 119px 0 72px;
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        border: 20px solid $or;
        z-index: -1;
        transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    &::before {
        top: 35px;
        right: 425px;
        width: 153px;
        height: 153px;
    }
    &::after {
        left: 617px;
        bottom: 15px;
        width: 270px;
        height: 270px;
    }
    &.active {
        &::before {
            border: 20px solid $bluew;
        }
        &::after {
            border: 20px solid $bluew2;
        }
    }
}
.price__wrapper {
    text-align: center;
    margin-bottom: 65px;
    &-subtitle {
        margin-bottom: 5px;
    }
    &-title {
        font-size: 31px;
        line-height: 36px;
        font-weight: 500;
        text-transform: uppercase;
        color: #3c3c3c;
        margin-bottom: 58px;
        transition: all 0.2s;
    }
}

.price-form {
    display: flex;
    justify-content: center;
}
.checkbox {
    display: none;
}
.checkbox-style {
    display: block;
    width: 101px;
    height: 33px;
    border-radius: 17px;
    background-color: #e9e9e9;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 9px;
        transform: translateY(-50%);
        width: 40px;
        height: 20px;
        border-radius: 10px;
        background-color: $or;
        transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    .checkbox-month,
    .checkbox-yearly {
        font-size: 13px;
        line-height: 16px;
        font-weight: 300;
        text-transform: uppercase;
        color: #7f7f7f;
        position: absolute;
        top: 9px;
        transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    .checkbox-month {
        left: -60px;
        color: $or;
    }
    .checkbox-yearly {
        right: -60px;
    }
}
.checkbox:checked + .checkbox-style {
    .checkbox-month {
        color: #7f7f7f;
    }
    .checkbox-yearly {
        color: $bluew;
    }
}
.checkbox:checked + .checkbox-style::before {
    left: 52px;
    background-color: $bluew;
}

.price__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.price-item {
    max-width: 370px;
    width: 100%;
    min-height: 737px;
    background-color: #fff;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.06);
    transition: all 0.2s;
}
.price-item-block {
    max-width: 100%;
    width: 100%;
    min-height: 307px;
    color: #fff;
    background-color: $or;
    padding: 69px 60px 30px 69px;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    &__subtitle {
        color: #fff;
        margin-bottom: 5px;
    }
    &__title {
        font-size: 35px;
        line-height: 38px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 26px;
    }
    &__text {
        margin-bottom: 25px;
    }
    &__subtext {
        line-height: 22px;
        font-weight: 300;
        color: #ffa097;
        transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    &.active {
        background-color: $bluew;
        .price-item-block__subtext {
            color: #fff;
        }
    }
}
.price-item-block__text {
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
}
.price-item-block__text-month,
.price-item-block__text-yearly {
    position: absolute;
    left: 0;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.price-item-block__text-month {
    opacity: 1;
    top: 0;
}
.price-item-block__text-yearly {
    opacity: 0;
    top: -100%;
}
.price-item-block__text-wrap {
    font-size: 35px;
    line-height: 38px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    .month-and-yearly {
        width: 100%;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        margin-left: 6px;
    }
}
.price-item-block__text {
    &.active {
        .price-item-block__text-month {
            opacity: 0;
            top: 100%;
        }
        .price-item-block__text-yearly {
            opacity: 1;
            top: 0;
        }
    }
}

.price-item__inner {
    padding: 60px 30px 60px 68px;
    transition: all 0.2s;
}
.price-item-check {
    margin-bottom: 52px;
    transition: all 0.2s;
}
.price-item-check__list {
    li {
        margin-bottom: 10px;
    }
}
.price-item-check__li {
    span {
        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
        color: #666666;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -33px;
            width: 15px;
            height: 15px;
            transform: translateY(-50%);
            background-image: url(../images/svg/check-solid.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

.price-item-btn {
    a {
        color: #bcbcbc;
    }
    &.active {
        a:hover {
            color: $bluew;
        }
    }
}

.price-item--modify1 {
    min-height: 800px;
    .price-item-block {
        min-height: 370px;
        background-color: $or2;
        padding: 87px 60px 30px 69px;
        &__title {
            margin-bottom: 70px;
        }
    }
    &.active {
        .price-item-block {
            background-color: $bluew2;
        }
    }
}
.price-item--modify2 {
    .price-item-block {
        background-color: $or3;
    }
    &.active {
        .price-item-block {
            background-color: $bluew3;
        }
    }
}

.news {
    padding: 50px 0 50px;
    position: relative;
}
.news__inner {
    height: 440px;
    position: relative;
    z-index: 1;
    &::before,
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.2s;
    }
    &::before {
        top: 141px;
        left: 13px;
        width: 434px;
        height: 350px;
        background-image: url(../images/block-item-bg2.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &::after {
        right: -48px;
        bottom: 19px;
        width: 114px;
        height: 114px;
        border-radius: 50%;
        border: 20px solid #2e356b;
    }
    &-subtitle {
        margin-bottom: 7px;
    }
}

.news-slider-positioning {
    width: 100%;
    position: absolute;
    top: -33px;
    right: 5px;
    z-index: 6;
    transition: all 0.2s;
}
.news-slider-item {
    width: 270px;
    height: 420px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    margin: 0 auto;
}
.news-slider-item__inner {
    position: relative;
    overflow: hidden;
}
.news-slider-item__wrap {
    display: block;
    width: 100%;
    height: 87px;
    background-color: #fff;
    padding: 25px 30px 10px 34px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transition: all 0.2s;
    &-subtitle {
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
        color: #9d9d9d;
        margin-bottom: 8px;
    }
    &-title {
        font-size: 15px;
        line-height: 15px;
        font-weight: 500;
        text-transform: uppercase;
        color: #535353;
    }
    &-subtitle,
    &-title {
        transition: all 0.2s;
    }
}
.news-slider-item__img {
    display: block;
    width: 270px;
    height: 265px;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 265px;
        background-image: linear-gradient(to top, #070707 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0;
        transition: all 0.2s;
    }
    img {
        width: 270px;
        height: 265px;
        object-fit: cover;
        object-position: center center;
    }
}
.news-slider-item__wrapper {
    padding: 11px 30px 10px 36px;
    &-subtext {
        font-weight: 300;
        margin-bottom: 21px;
    }
    &-text {
        color: #9d9d9d;
        font-size: 10px;
        font-weight: 300;
        text-transform: uppercase;
        span {
            font-weight: 500;
        }
    }
}

.news-slider-item:hover {
    .news-slider-item__wrap {
        top: 169px;
        background-color: rgba(#fff, 0);
        &-subtitle {
            color: #9d9d9d;
            margin-bottom: 0;
        }
        &-title {
            color: #fff;
        }
    }
    .news-slider-item__img {
        &::before {
            opacity: 1;
        }
    }
}

.news-slider,
.team-slider {
    .slick-list {
        margin: 0 -5px;
        overflow: visible !important;
    }
    .slick-slide {
        opacity: 0;
        padding: 40px 0;
        margin: 0 5px;
        transition: all 0.1s;
    }
    .slick-active {
        opacity: 1 !important;
    }
}

.team {
    padding: 122px 0 140px;
    position: relative;
    transition: all 0.2s;
}
.team__inner {
    height: 540px;
    text-align: right;
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
        transition: all 0.2s;
    }
    &::before {
        right: 0;
        bottom: -60px;
        width: 402px;
        height: 378px;
        background-image: url(../images/block-item-bg4.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &::after {
        left: 42px;
        bottom: -269px;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border: 20px solid $or;
    }
    &-subtitle {
        margin-bottom: 3px;
    }
}

.team-slider-positioning {
    width: 100%;
    position: absolute;
    top: -33px;
    right: 5px;
    z-index: 6;
}
.team-slider-item {
    width: 270px;
    height: 504px;
    background-color: #fff;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.06);
    margin: 0 auto;
    a {
        display: block;
    }
}
.team-slider-item__wrap {
    height: 87px;
    padding: 10px 30px 10px 34px;
    &-subtitle,
    &-title {
        text-transform: uppercase;
    }
    &-subtitle {
        font-size: 11px;
        font-weight: 300;
        color: #9d9d9d;
        margin-bottom: 3px;
    }
    &-title {
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        a {
            color: #535353;
            transition: all 0.2s;
        }
    }
}
.team-slider-item__inner-img {
    width: 270px;
    height: 370px;
    overflow: hidden;
    img {
        width: 270px;
        height: 370px;
        object-fit: cover;
        object-position: center center;
    }
}
.team-slider-item__inner-social {
    padding: 0 30px;
    .fa-skype,
    .fa-facebook-square,
    .fa-twitter,
    .fa-youtube {
        color: #d2d2d2;
    }
    .social__list {
        justify-content: space-between;
    }
    a {
        width: 41px;
        height: 47px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    li + li {
        margin-left: 0;
    }
}

.team-slider-item:hover {
    .team-slider-item__wrap-title {
        a {
            color: $or;
        }
    }
}

.contact {
    padding: 81px 0 230px;
    transition: all 0.2s;
}
.contact__inner {
    text-align: center;
    position: relative;
    margin-bottom: 125px;
    transition: all 0.2s;
    &::before {
        content: "";
        position: absolute;
        top: 106px;
        left: 94px;
        width: 340px;
        height: 460px;
        background-image: url(../images/block-item-bg5.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: -1;
        transform: rotate(0deg);
        transition: all 0.2s;
    }
    &-subtitle {
        margin-bottom: 2px;
    }
    &-title {
        font-size: 31px;
        line-height: 40px;
        font-weight: 500;
        text-transform: uppercase;
        color: #3c3c3c;
        margin-bottom: 21px;
    }
    &-text {
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        color: #9d9d9d;
    }
    &-title,
    &-text {
        transition: all 0.2s;
    }
}

.contact-form {
    max-width: 631px;
    width: 100%;
    min-height: 105px;
    margin: 0 auto;
    position: relative;
}

.contact-form__group {
    position: relative;
    .contact-form__input {
        max-width: 631px;
        width: 100%;
        min-height: 105px;
        background-color: #fff;
        font-size: 30px;
        font-weight: 300;
        color: $or;
        outline: none;
        padding: 21px 120px 30px 38px;
        position: relative;
        transition: all 0.3s;
    }
    .contact-form__placeholder {
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
        color: #c2c2c2;
        position: absolute;
        top: 45px;
        left: 38px;
        pointer-events: none;
        transition: all 0.2s;
    }
    .contact-form__input:focus ~ .contact-form__placeholder,
    .contact-form__input:valid ~ .contact-form__placeholder {
        top: 69px;
    }
}

.contact-form__positioning {
    position: absolute;
    top: 50%;
    right: 49px;
    transform: translateY(-50%);
    transition: all 0.2s;
}
.contact-form__label {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    .contact-form__submit {
        width: 40px;
        height: 40px;
        font-size: 0;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    .fa-paper-plane {
        color: #c2c2c2;
        transition: all 0.2s;
    }
    .svg-inline--fa.fa-paper-plane {
        width: 40px;
        height: 40px;
    }
}
.contact-form__label:hover {
    .fa-paper-plane {
        color: $or;
    }
}

.references {
    padding: 65px 0 65px;
}
.references-item__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-li {
        img {
            width: 140px;
            height: auto;
            object-fit: cover;
            object-position: center center;
        }
    }
}
.references-item__list-li {
    transform: scale(1);
    transition: all 0.2s;
    &:hover {
        transform: scale(1.2);
    }
}

.footer {
    padding: 33px 0 64px;
}

.footer__inner {
    max-width: 1170px;
    width: 100%;
    min-height: 438px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.08);
    padding: 0 70px;
    margin: 0 auto;
    transition: all 0.2s;
}
.footer__wrap {
    text-align: center;
    padding-top: 36px;
    margin-bottom: 50px;
    &-subtitle {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        color: #a0a0a0;
    }
}
.logo-footer {
    margin-bottom: 0;
    svg{
        width: auto;
        height: 40px;
        fill: #323232;
    }
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    padding-bottom: 23px;
}
.footer-wrapper-item__inner {
    max-width: 288px;
    width: 100%;
    &-subtext {
        color: #a1a1a1;
        font-size: 12px;
        letter-spacing: 0.48px;
        margin-bottom: 24px;
    }
}
.footer-wrapper-item-questions {
    span {
        color: #a1a1a1;
        font-size: 12px;
        letter-spacing: 0.48px;
    }
}
.footer-wrapper-item-questions__list {
    display: flex;
    align-items: center;
    li + li {
        margin-left: 14px;
    }
    a {
        color: #a1a1a1;
        font-size: 12px;
        letter-spacing: 0.48px;
        transition: all 0.2s;
        &:hover {
            color: $or;
        }
    }
}

.footer-title {
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #a0a0a0;
    margin-bottom: 28px;
}
.footer-menu__list,
.footer-services__list {
    a {
        font-size: 12px;
        line-height: 30px;
        color: #a0a0a0;
        transition: all 0.2s;
        &:hover {
            color: $or;
        }
    }
}
.footer-badge__list-li {
    margin-bottom: 10px;
}
.footer-badge__list-img {
    display: flex;
    width: auto;
    height: 55px;
    object-fit: cover;
    object-position: center center;
}

.copyright {
    padding: 22px 0 0;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.copyright__inner-title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    color: #939393;
    transition: all 0.2s;
}
.copyright__inner-social {
    max-width: 250px;
    width: 100%;
    .fa-skype,
    .fa-facebook-square,
    .fa-twitter,
    .fa-youtube,
    .fa-instagram {
        color: #d2d2d2;
    }
    .social__list {
        justify-content: space-between;
    }
    a {
        width: 41px;
        height: 47px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    li + li {
        margin-left: 0;
    }
}

@import "media";
