.block-about {
    min-height: 1080px;
    background-color: $wblock-menu;
    position: relative;
    overflow: hidden;
    transition: all 0.2s;
}

.block-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    img {
        width: 860px;
        height: auto;
        object-fit: cover;
        object-position: center center;
        transition: all 0.2s;
    }
}

.skills {
    min-height: 1800px;
    position: relative;
    overflow: hidden;
}
.skills-cards {
    max-width: 1230px;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    transition: all 0.2s;
}
.skills-cards__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-card-item {
    margin-bottom: 42px;
}
.skills-card-item__inner {
    width: 370px;
    height: 300px;
    background-color: $wblock-menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-card-item__inner-icon {
    margin-bottom: 42px;
    .fa-file-code,
    .fa-js,
    .fa-gulp,
    .fa-sass,
    .fa-node-js,
    .fa-play,
    .fa-expand,
    .fa-terminal,
    .fa-wordpress,
    .fa-adobe,
    .fa-figma {
        color: $wbg;
        transition: all 0.25s;
    }
    .svg-inline--fa {
        width: 98px;
        height: 98px;
    }
    .fa-avocode {
        width: 98px;
        height: 98px;
        fill: $wbg;
        transition: all 0.25s;
    }
}
.skills-card-item__inner-title {
    text-align: center;
    cursor: default;
}

.skills-card-item__inner:hover {
    .skills-card-item__inner-icon {
        .fa-file-code,
        .fa-js,
        .fa-gulp,
        .fa-sass,
        .fa-node-js,
        .fa-play,
        .fa-expand,
        .fa-terminal,
        .fa-wordpress,
        .fa-adobe,
        .fa-figma {
            color: $blue;
        }
        .fa-avocode {
            fill: $blue;
        }
    }
    .skills-card-item__inner-title {
        color: $blue;
    }
}
