html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: $wbg;
  font-weight: 400;
  color: $wblock-menu;
  min-width: 320px;
  overflow-x: hidden;
  transition: all 0.2s;
}
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: transparent;
}
footer,
header,
menu {
  display: block;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  outline: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}
body.lock {
  overflow: hidden;
}
.container {
  padding: 0 0 0 78px;
}
.container-fullhd {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.rel {
  position: relative;
}
.title-flex {
  display: flex;
  align-items: center;
}
.title {
  display: flex;
  font-size: 75px;
  line-height: 80px;
  position: relative;
  transition: all 0.15s;
  a {
    color: $wblock-menu;
  }
}
.title-line {
  width: 30px;
  height: 1px;
  background-color: $wbg;
  margin-left: 48px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 3400px;
    height: 1px;
    background-color: $wbg;
  }
}
.subtitle {
  font-size: 48px;
  line-height: 54px;
}
.subtitle,
.subtext {
  font-weight: 500;
}
.subtext,
.card-title {
  font-size: 34px;
  line-height: 40px;
}
.card-title {
  color: $wbg;
  transition: all 0.25s;
}
.title,
.card-title {
  font-weight: 700;
}

.card-border {
  border-radius: 16px;
  background-color: $wblock-menu;
  overflow: hidden;
  transition: all 0.25s;
  &:hover {
    box-shadow: 0px 4px 18.62px 0.38px rgba(0, 0, 0, 0.16);
  }
}

// animation background
.background-animation {
  max-width: 1920px !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  &__inner {
    position: relative;
  }
}
.background-animation,
.background-animation__inner,
.background-animation__item {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.background-animation__item {
  position: absolute;
  top: 0;
  transition: all 0.2s;
}
.background-animation__item:nth-child(1) {
  left: 494px;
}
.background-animation__item:nth-child(2) {
  left: 1020px;
}
.background-animation-item {
  max-width: 1px;
  width: 100%;
  min-height: 100%;
  background-color: $wline-anim1;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 23px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}
.background-animation-item--mod1 {
  &::before {
    top: -24px;
    background-color: $blue;
    animation-name: bgAnimItem;
    animation-delay: 2s;
  }
  &::after {
    top: -24px;
    background-color: $wline-anim1;
    animation-name: bgAnimItem;
    animation-delay: 1s;
  }
}
.background-animation-item--mod2 {
  &::before {
    top: -24px;
    background-color: $blue;
    animation-name: bgAnimItem;
    animation-delay: 1;
  }
  &::after {
    top: -24px;
    background-color: $wline-anim1;
    animation-name: bgAnimItem;
    animation-delay: 1.3s;
  }
}

@keyframes bgAnimItem {
  0% {
    top: -24px;
  }
  100% {
    top: 100%;
  }
}

.background-animation-item--colormod {
  background-color: $wbg;
}
.background-animation-item--mod1-colormod {
  &::after {
    background-color: $wbg;
  }
}
.background-animation-item--mod2-colormod {
  &::after {
    background-color: $wbg;
  }
}

// window menu
.navigation-menu {
  background-color: $wblock-menu;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 8;
  transition: all 0.4s;
  &.active {
    left: 0;
  }
}
.navigation-menu,
.navigation-menu__inner {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.navigation-menu__inner {
  padding: 260px 0 0 130px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 900px;
    width: 1px;
    height: 0;
    background-color: $blue;
    transform: scale(20);
    opacity: 0;
    transition: all 0.3s;
    transition-delay: 0.5s;
  }
  &.active {
    &::before {
      left: 740px;
      height: 100%;
      transform: scale(1);
      opacity: 1;
    }
  }
}
.menu {
  opacity: 0;
  transition: all 0.3s;
  transition-delay: 0.4s;
  &.active {
    opacity: 1;
  }
}
.menu__list-li {
  margin-bottom: 40px;
  transition: all 0.2s;
  a {
    font-size: 75px;
    line-height: 80px;
    font-weight: 500;
    color: #7d8083;
    position: relative;
    transition: all 0.2s;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -20px;
      height: 1px;
      width: 0;
      background-color: $blue;
      transform: scale(5);
      opacity: 0;
      transition: all 0.2s;
    }
  }
  a:hover {
    color: $blue;
    &::before {
      bottom: -10px;
      width: 100%;
      transform: scale(1);
      opacity: 1;
    }
  }
}

.vertical-line-box {
  position: absolute;
  top: 0;
  right: -78px;
  background-color: $wblock-menu;
  transition: all 0.4s;
  &.active {
    right: 0;
  }
}
.vertical-line-box,
.vertical-line-box__inner {
  max-width: 78px;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.vertical-line-box__inner {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background-color: $wline-anim1;
    transition: all 0.3s;
    transition-delay: 0.65s;
  }
  &.active {
    &::before {
      height: 100%;
    }
  }
}

.menu-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  &__inner {
    position: relative;
  }
}
.menu-btn-open__inner {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
  transition: 0.1s;
  span {
    display: block;
    height: 3px;
    background-color: $wgamburger-btn;
    position: absolute;
    left: 0;
    transition: all 0.16s;
  }
  span:nth-child(1) {
    top: 9px;
    width: 32px;
  }
  span:nth-child(2) {
    top: 19px;
    width: 20px;
  }
  &.active {
    opacity: 0;
    span:nth-child(1) {
      top: 14px;
    }
    span:nth-child(2) {
      top: 14px;
    }
  }
}
.menu-btn-close__inner {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  transition: all 0.1s;
  &-item {
    display: block;
    width: 32px;
    height: 3px;
    background-color: $wgamburger-btn;
    position: absolute;
    top: 0;
    transform: rotate(0deg);
    opacity: 1;
    transition: all 0.2s;
    transition-delay: 0.4s;
  }
  &-item:nth-child(1) {
    left: 0;
    transform: rotate(0deg);
  }
  &-item:nth-child(2) {
    right: 0;
    transform: rotate(0deg);
  }
  &.active {
    opacity: 1;
    .menu-btn-close__inner-item:nth-child(1) {
      transform: rotate(45deg);
    }
    .menu-btn-close__inner-item:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}
.menu-btn-close__inner-item {
  span {
    display: block;
    width: 32px;
    height: 3px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 3px;
      background-color: $wgamburger-btn;
      transition: all 0.2s;
    }
  }
}

.menu-btn-open,
.menu-btn-close {
  width: 32px;
  height: 32px;
  position: absolute;
}
.menu-btn-open {
  top: 0;
}
.menu-btn-close {
  top: 14px;
}
.menu-btn:hover {
  .menu-btn-open__inner {
    span {
      background-color: $blue;
    }
    span:nth-child(1) {
      top: 10px;
    }
    span:nth-child(2) {
      bottom: 18px;
      width: 32px;
    }
  }
  .menu-btn-close__inner-item {
    span {
      &::before {
        background-color: $blue;
      }
    }
  }
}

// navigation site

.navigation-site {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  pointer-events: none;
  &.active {
    pointer-events: visible;
  }
}
.navigation-site,
.navigation-site__overlay {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.navigation-site__inner {
  position: relative;
}
.navigation-site-window {
  position: absolute;
  top: 88px;
  right: 42px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 18.62px 0.38px rgba(0, 0, 0, 0.16);
}

.navigation-site-window__inner {
  width: 0;
  height: 0;
  background-color: $wblock-menu;
  padding: 25px 0 50px;
  opacity: 0;
  position: relative;
  overflow-x: hidden;
  transition: all 0.14s;
  &.active {
    width: 340px;
    height: 455px;
    opacity: 1;
  }
}
.navigation-site-window__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: $wlogo-social-nav;
}

.contact {
  padding: 0 20px;
  margin-bottom: 32px;
}
.contact__title {
  margin-bottom: 15px;
}
.contact__inner {
  a {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: $blue;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: $blue;
    }
  }
}

.dark-theme,
.promotional-video {
  padding: 25px 20px 25px;
  border-top: 1px solid $wbg;
}
.dark-theme__title,
.promotional-video__title {
  margin-bottom: 20px;
}
.dark-theme__gif {
  max-width: 100%;
  width: 100%;
  min-height: 145px;
  background-color: $wbg;
  margin-bottom: 5px;
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
  }
}

.site-version {
  position: absolute;
  left: 50%;
  bottom: 18px;
  transform: translateX(-50%);
  &__inner {
    font-size: 14px;
    line-height: 16px;
    color: $wlogo-social-nav;
  }
}

.navigation-site__overlay {
  background-color: transparent;
}

.dark-theme-browser-support__head {
  width: 100%;
  height: 48px;
  background-color: $wbg;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .fa-desktop,
  .fa-mobile-alt {
    color: $wblock-menu;
    transition: all 0.25s;
  }
  .svg-inline--fa {
    width: 24px;
    height: 24px;
  }
}
.dark-theme-browser-support__head:hover {
  .fa-desktop,
  .fa-mobile-alt {
    color: $blue;
  }
}

.dark-theme-browser-support__list--pc,
.dark-theme-browser-support__list--mobile {
  display: none;
  &.active {
    display: block;
  }
}

.dark-theme-browser-support__list-li {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d8dee2;
  padding: 0 15px;
  span {
    display: block;
    width: 26px;
    height: 26px;
  }
  .fa-chrome,
  .fa-edge,
  .fa-firefox-browser,
  .fa-internet-explorer,
  .fa-opera,
  .fa-safari,
  .fa-check,
  .fa-times,
  .fa-android {
    color: $wblock-menu;
    transition: all 0.25s;
  }
  .svg-inline--fa {
    width: 24px;
    height: 24px;
  }
  svg {
    width: 24px;
    height: 24px;
    fill: $wblock-menu;
    transition: all 0.25s;
  }
}
.dark-theme-browser-support__list-li:hover {
  .fa-chrome,
  .fa-edge,
  .fa-firefox-browser,
  .fa-internet-explorer,
  .fa-opera,
  .fa-safari,
  .fa-check,
  .fa-times,
  .fa-android {
    color: $blue;
  }
  svg {
    fill: $blue;
  }
}

.video {
  max-width: 100%;
  width: 100%;
  min-height: auto;
  border: none;
}

.navigation-site-window--opacity {
  display: none;
  &.active {
    display: block;
  }
}
