@media (max-width: 1854px) {
    .block__img {
        left: 200px;
    }
    .standard-title {
        right: 172px;
    }
}

@media (max-width: 1800px) {
    .portfolio {
        min-height: 1646px;
    }
    .portfolio-mix {
        top: 562px;
    }
    .portfolio-mix-button {
        top: 400px;
        right: initial;
        left: 212px;
    }
    .portfolio-mix-button__inner {
        flex-direction: initial;
        flex-wrap: wrap;
        button:nth-child(1) {
            margin-bottom: 0;
        }
    }
    .portfolio-mix-button__inner-btn {
        height: 30px;
        padding: 0;
        margin: 0 15px;
    }
    .portfolio-mix-button__subtitle {
        font-size: 24px !important;
        line-height: 30px !important;
    }
}

@media (max-width: 1754px) {
    .details__inner-img {
        left: 132px;
    }
}

@media (max-width: 1720px) {
    .photo {
        right: 170px;
    }
}

@media (max-width: 1656px) {
    .block__img--block2-mod {
        left: 134px;
    }
}

@media (max-width: 1610px) {
    .skills {
        min-height: 1898px;
    }
    .skills-cards {
        max-width: 1128px;
    }
    .skills-card-item__inner {
        width: 338px;
        height: 338px;
    }
}

@media (max-width: 1545px) {
    .block__img--block2-mod {
        left: 100px;
        img {
            height: 608px;
        }
    }
    .details {
        min-height: 1060px;
    }
    .details__inner-img {
        img {
            width: 906px;
        }
    }
}

@media (max-width: 1500px) {
    .block__img {
        left: 134px;
    }
}

@media (max-width: 1414px) {
    .photo {
        right: initial;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    }
    .header-typed-box {
        left: 180px;
    }
    .header-typed-box--main {
        top: 70%;
        transform: translateY(0);
    }
    .header-typed-box--mod {
        transform: translateX(0);
    }
    .header-typed-title,
    .typed-cursor,
    .title {
        font-size: 48px;
        line-height: 54px;
    }
    .block,
    .block__inner {
        min-height: 752px;
    }
    .subtitle {
        font-size: 34px;
        line-height: 40px;
    }
    .block-button {
        top: 462px;
    }
    .block-button__list {
        &-li + &-li {
            margin-left: 20px;
        }
    }
    .block__img {
        top: 124px;
        left: 134px;
        img {
            height: 480px;
        }
    }
    .standard-title {
        right: 140px;
    }
    .details-info {
        top: 265px;
    }
    .details-info__list-li:nth-child(1) {
        margin-bottom: 30px;
    }
    .details-info__list-li {
        margin-bottom: 15px;
        .subtext {
            font-size: 24px;
            line-height: 30px;
        }
    }
}

@media (max-width: 1366px) {
    .background-animation__item:nth-child(1) {
        left: 369px;
    }
    .background-animation__item:nth-child(2) {
        left: 897px;
    }
    .portfolio {
        min-height: 1285px;
    }
    .portfolio-mix {
        max-width: 866px;
        left: 200px;
        top: 400px;
    }
    .portfolio-mix-item {
        width: 338px;
        height: 212px;
    }
    .portfolio-mix-item__inner-img {
        img {
            width: 338px;
            height: auto;
        }
    }
    .portfolio-mix-item__wrap-btn {
        .card-title {
            padding: 0 40px;
        }
    }
    .portfolio-mix-item:hover {
        .portfolio-mix-item__inner-img--mod1 {
            top: -1903px;
        }
        .portfolio-mix-item__inner-img--mod2 {
            top: -762px;
        }
        .portfolio-mix-item__inner-img--mod3 {
            top: -1003px;
        }
        .portfolio-mix-item__inner-img--mod4 {
            top: -1230px;
        }
        .portfolio-mix-item__inner-img--mod5 {
            top: -1328px;
        }
        .portfolio-mix-item__inner-img--mod6 {
            top: -439px;
        }
    }
    .portfolio-mix-button {
        padding-left: 78px;
        top: 270px;
        left: initial;
        right: 20px;
    }
    .skills {
        min-height: 2676px;
    }
    .skills-cards {
        max-width: 866px;
        transform: translateX(0);
        min-height: 2748px;
    }
    .create-cards,
    .skills-cards {
        left: 200px;
    }
}

@media (max-width: 1231px) {
    .details__inner-img {
        left: 100px;
    }
}

@media (max-width: 1224px) {
    .copyright {
        left: 114px;
    }
    .arrows--mod {
        right: 65px;
    }
}

@media (max-width: 1108px) {
    .block {
        min-height: 1080px;
    }
    .block-button {
        top: 312px;
    }
    .block__img {
        top: 462px;
        left: 50%;
        transform: translateX(-50%);
    }
    .standard-title {
        top: 142px;
    }
    .create {
        min-height: 1418px;
    }
    .create-card-item__inner {
        text-align: center;
    }
    .create-card-item:nth-child(2) {
        top: 119px;
    }
    .create-card-item:nth-child(3) {
        top: 357px;
    }
    .create-card-item:nth-child(4) {
        top: 476px;
    }
    .background-animation__item:nth-child(1) {
        left: 319px;
    }
    .background-animation__item:nth-child(2) {
        left: 689px;
    }
    .portfolio-mix-item {
        width: 238px;
        height: 238px;
    }
    .portfolio-mix-item__wrap {
        height: 60px;
        bottom: 0;
    }
    .portfolio-mix-item__wrap-btn {
        .card-title {
            font-size: 28px;
            line-height: 30px;
            padding: 0 23px;
        }
    }
    .portfolio-mix-item:hover {
        .portfolio-mix-item__inner {
            &::before {
                opacity: 0;
            }
        }
        .portfolio-mix-item__inner-img--mod1,
        .portfolio-mix-item__inner-img--mod2,
        .portfolio-mix-item__inner-img--mod3,
        .portfolio-mix-item__inner-img--mod4,
        .portfolio-mix-item__inner-img--mod5,
        .portfolio-mix-item__inner-img--mod6 {
            top: 0;
        }
    }
    .create-cards,
    .portfolio-mix,
    .skills-cards {
        max-width: 608px;
    }
    .create-card-item__inner,
    .skills-card-item__inner {
        width: 238px;
        height: 238px;
    }
    .skills {
        min-height: 1995px;
    }
    .skills-cards {
        top: 308px;
    }
    .skills-card-item__inner-icon {
        margin-bottom: 18px;
        .svg-inline--fa {
            width: 78px;
            height: 78px;
        }
    }
    .skills-card-item__inner-title {
        font-size: 28px;
        line-height: 32px;
    }
    .details-info {
        top: 220px;
        right: 34px;
    }
}

@media (max-width: 1022px) {
    .headerline {
        top: 112px;
        padding: 0 34px 0 34px;
    }
    .photo {
        top: 390px;
    }
    .photo__inner {
        width: 168px;
        height: 168px;
    }
    .photo__inner-img {
        left: 30px;
        bottom: 28px;
        img {
            width: auto;
            height: 295px;
        }
    }
    .navigation-menu__inner {
        padding: 78px 0 0 0;
        overflow: hidden;
        &::before {
            left: 450px;
        }
        &.active {
            &::before {
                left: 345px;
            }
        }
    }
    .menu__list-li {
        margin-bottom: 25px;
        a {
            width: 100%;
            font-size: 48px;
            line-height: 54px;
            padding-left: 34px;
        }
    }
    .vertical-line-box {
        display: none;
    }
    .vertical-line-box__inner {
        &::before {
            display: none;
        }
    }
    .navigation-menu-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8;
    }
    .navigation-site {
        position: fixed;
    }
    .navigation-menu-mobile,
    .navigation-menu-mobile__inner {
        max-width: 100%;
        width: 100%;
        min-height: 78px;
        transition: all 0.2s;
    }
    .navigation-menu-mobile__inner {
        background-color: $wblock-menu;
    }
    .header-typed-box {
        left: 85px;
    }
    .header-typed-box--main {
        top: 582px;
    }
    .header-typed-title {
        font-size: 48px;
        line-height: 54px;
    }
    .arrows-down {
        left: 30px;
    }
    .navigation-site-window {
        top: 176px;
        right: 34px;
    }
    .portfolio-mix-button {
        padding-left: 20px;
    }
    .copyright {
        left: 34px;
    }
    .arrows--mod {
        right: 42px;
    }
    .details__inner-img {
        left: 34px;
    }
}

@media (max-width: 960px) {
    .background-animation__item:nth-child(1) {
        left: 200px;
    }
    .background-animation__item:nth-child(2) {
        left: 570px;
    }
    .create-cards,
    .portfolio-mix,
    .skills-cards {
        left: 81px;
    }
    .block-about {
        min-height: 1000px;
    }
    .block-img {
        img {
            width: 660px;
        }
    }
    .details {
        min-height: 832px;
    }
    .details__inner-img {
        img {
            width: 706px;
        }
    }
}

@media (max-width: 912px) {
    .footer-title {
        font-size: 28px;
    }
    .arrows__inner-title {
        left: 0;
    }
    .details {
        min-height: 1268px;
    }
    .details__inner-img {
        position: absolute;
        top: 612px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-height: 800px) {
    .arrows,
    .arrows__inner {
        height: 150px;
    }
    .arrows-direction--mod1 {
        top: 30px;
    }
    .arrows-circle {
        top: 55px;
    }
    .arrows-direction--mod2 {
        top: 78px;
    }
    .arrows:hover {
        .arrows-direction--mod1 {
            top: 60px;
        }
        .arrows-direction--mod2 {
            top: 80px;
        }
        .arrows-circle {
            top: 70px;
        }
    }
}

@media (max-width: 767px) {
    .menu-btn {
        left: 34px;
        transform: translate(0, -50%);
    }
    .nav-btn {
        display: none;
    }
    .nav-btn--mobile {
        display: block;
        position: absolute;
        top: 50%;
        right: 34px;
        transform: translateY(-50%);
        transition: all 0.2s;
        &.active {
            opacity: 0;
            z-index: -1;
        }
    }
    .navigation-site-window {
        top: 108px;
    }
    .social {
        display: none;
    }
    .social--mobile {
        display: block;
        position: absolute;
        right: 34px;
        bottom: 34px;
        z-index: 2;
    }
    .standard-title {
        right: 112px;
    }
    .title-line {
        margin-left: 20px;
    }
    .block-button {
        width: 451px;
        right: initial;
        left: 50%;
        transform: translateX(-50%);
    }
    .details__inner-img {
        img {
            width: 460px;
        }
    }
}

@media (max-width: 728px) {
    .arrows__inner-title {
        display: none;
    }
}

@media (max-width: 720px) {
    .background-animation__item:nth-child(1) {
        left: 168px;
    }
    .background-animation__item:nth-child(2) {
        left: 520px;
    }
    .create-cards,
    .portfolio-mix,
    .skills-cards {
        max-width: 592px;
        left: 52px;
    }
    .block-about {
        min-height: 720px;
    }
    .block-img {
        img {
            width: 460px;
        }
    }
}

@media (max-height: 660px) {
    .arrows-down {
        display: none;
    }
    .social--mobile {
        top: 50%;
        right: 34px;
        bottom: initial;
        transform: translateY(-50%);
        .social__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            li + li {
                margin-left: 0;
            }
            &-li {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 686px) {
    .background-animation__item:nth-child(2) {
        left: 455px;
    }
    .create-cards,
    .portfolio-mix {
        max-width: 528px;
    }
}

@media (max-width: 642px) {
    .header-typed-box--main {
        top: 582px;
    }
    .header-typed-title,
    .typed-cursor,
    .title {
        font-size: 34px;
        line-height: 40px;
    }
    .block-button {
        top: 245px;
        width: initial;
        left: initial;
        right: 34px;
        transform: translateX(0);
    }
    .block-button__list {
        flex-direction: column;
        align-items: flex-end;
        &-li + &-li {
            margin-left: 0;
        }
        &-li {
            margin-bottom: 10px;
        }
    }
    .subtitle {
        font-size: 28px;
        line-height: 30px;
    }
    .create {
        min-height: 1445px;
    }
    .create-cards {
        top: 256px;
    }
    .create-cards,
    .portfolio-mix,
    .skills-cards {
        max-width: 240px;
    }
    .create-card-item {
        position: relative;
    }
    .create-card-item:nth-child(1),
    .create-card-item:nth-child(2),
    .create-card-item:nth-child(3),
    .create-card-item:nth-child(4) {
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
    }
    .portfolio {
        min-height: 1724px;
    }
    .portfolio-mix__item,
    .create-card-item {
        margin-bottom: 30px;
    }
    .skills {
        min-height: 3682px;
    }
}

@media (max-width: 613px) {
    .portfolio-mix,
    .portfolio-mix-button {
        top: 230px;
    }
    .portfolio-mix-button__inner {
        flex-direction: column;
    }
    .portfolio-mix-button__inner-btn {
        margin: 5px;
    }
    .portfolio {
        min-height: 1898px;
    }
}

@media (max-width: 545px) {
    .portfolio {
        min-height: 2200px;
    }
    .portfolio-mix {
        top: 556px;
    }
}

@media (max-width: 540px) {
    .headerline {
        top: 74px;
        padding: 0 0 0 20px;
    }
    .navigation-menu__inner {
        &::before {
            left: 400px;
        }
        &.active {
            &::before {
                left: 250px;
            }
        }
    }
    .menu__list-li {
        a {
            font-size: 34px;
            line-height: 40px;
            padding-left: 20px;
        }
    }
    .navigation-menu-mobile,
    .navigation-menu-mobile__inner {
        min-height: 54px;
    }
    .menu-btn {
        left: 20px;
    }
    .nav-btn--mobile,
    .social--mobile {
        right: 20px;
    }
    .photo {
        top: 274px;
        left: 20px;
        transform: translateX(0);
    }
    .photo__inner-img {
        img {
            height: 252px;
        }
    }
    .header-typed-box {
        left: 20px;
    }
    .header-typed-box--main {
        top: 460px;
    }
    .navigation-site-window {
        top: 74px;
        right: 20px;
    }
    .block__img,
    .block-img {
        img {
            width: 290px;
            height: auto;
        }
    }
    .copyright {
        left: 20px;
        padding-right: 110px;
    }
    .details {
        min-height: 894px;
    }
    .details__inner-img {
        img {
            width: 290px;
        }
    }
}

@media (max-width: 511px) {
    .copyright {
        bottom: 62px;
    }
}

@media (max-width: 490px) {
    .standard-title {
        right: 22px;
    }
    .title-line {
        margin-left: 10px;
    }
}

@media (max-width: 430px) {
    .background-animation__item:nth-child(2) {
        display: none;
    }
}

@media (max-width: 380px) {
    .navigation-site-window__inner {
        &.active {
            width: 280px;
        }
    }
    .contact {
        padding: 0 10px;
    }
    .dark-theme,
    .promotional-video {
        padding: 25px 10px 25px;
    }
}

@media (max-width: 375px), (max-height: 812px) {
    .block-about {
        min-height: 812px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $dbg;
    }
    // navigation menu
    .navigation-menu,
    .vertical-line-box {
        background-color: $dblock-menu;
    }
    .vertical-line-box__inner {
        &::before {
            background-color: rgba($wblock-menu, 0.1);
        }
    }
    .menu__list-li {
        a {
            color: $wblock-menu;
        }
    }
    .menu-btn-open__inner {
        span {
            background-color: $wblock-menu;
        }
    }
    .menu-btn-close__inner {
        &-item {
            background-color: $wblock-menu;
        }
    }
    .menu-btn-close__inner-item {
        span {
            &::before {
                background-color: $wblock-menu;
            }
        }
    }
    .navigation-menu-mobile__inner {
        background-color: $dblock-menu;
    }
    // animation background
    .background-animation-item {
        background-color: rgba($wblock-menu, 0.1);
    }

    .background-animation-item--mod1 {
        &::after {
            background-color: $wblock-menu;
        }
    }
    .background-animation-item--mod2 {
        &::after {
            background-color: $wblock-menu;
        }
    }
    .photo__inner {
        border: 2px solid rgba($wblock-menu, 0.1);
    }
    // arrows
    .arrows__inner {
        background-color: rgba($wblock-menu, 0.1);
    }
    .arrows-direction__inner {
        span {
            background-color: $wblock-menu;
        }
    }
    .arrows-circle__inner {
        background-color: $wblock-menu;
    }
    // headerline
    .logo {
        svg {
            fill: $wblock-menu;
        }
    }
    .social__list-li {
        .fa-instagram,
        .fa-behance,
        .fa-dribbble,
        .fa-codepen {
            color: $wblock-menu;
        }
    }
    .nav-btn {
        &__inner {
            span {
                background-color: $wblock-menu;
            }
        }
    }
    .navigation-site-window__inner {
        background-color: $dblock-menu;
    }
    .navigation-site-window__title {
        color: $wblock-menu;
    }
    .dark-theme,
    .promotional-video {
        border-top: 1px solid rgba($wblock-menu, 0.1);
    }
    .dark-theme-browser-support__head,
    .dark-theme-browser-support__list-li,
    .dark-theme__gif {
        background-color: $dbg;
    }
    .site-version {
        &__inner {
            color: $wblock-menu;
        }
    }
    // block
    .block,
    .block-about {
        background-color: $dblock-menu;
    }
    .block__img--light-theme {
        display: none;
    }
    .block__img--dark-theme {
        display: block;
    }
    .block__title--dark-theme {
        .title {
            color: $blue;
        }
        .title-line {
            background-color: $blue !important;
            &::before {
                background-color: $blue !important;
            }
        }
    }
    .block-button__list-li {
        a {
            color: $blue;
            &::before {
                background-color: $blue;
            }
            &:hover {
                color: $dbg;
            }
        }
    }
    // cards
    .card-border {
        background-color: $dblock-menu;
        border: 1px solid rgba($wblock-menu, 0.15);
        &:hover {
            // box-shadow: 0px 4px 18.62px 0.38px rgba($blue, 0.16);
            border: 1px solid rgba($blue, 0.15);
        }
    }
    .card-title {
        color: $wblock-menu;
    }
    .skills-card-item__inner-icon {
        .fa-file-code,
        .fa-js,
        .fa-gulp,
        .fa-sass,
        .fa-node-js,
        .fa-play,
        .fa-expand,
        .fa-terminal,
        .fa-wordpress,
        .fa-adobe,
        .fa-figma {
            color: $wblock-menu;
        }
    }
    // portfolio
    .portfolio-mix-item,
    .portfolio-mix-item__wrap {
        background-color: $dblock-menu;
    }
    .portfolio-mix-item__wrap-btn {
        .card-title {
            color: $wblock-menu;
        }
    }
    .portfolio-mix-button__inner-btn {
        &::before {
            background-color: $blue;
        }
        &:focus,
        &:hover {
            color: $dbg;
        }
    }
    .details-info__list-li:nth-child(1) {
        a {
            &::before {
                background-color: $blue;
            }
            &:hover {
                color: $dbg;
            }
        }
    }
}
