// Color white theme - wbg - w-withe; bg-background and other

$wbg: #e2e5e8; // background block - header and other

$wlogo-social-nav: #788695;

$wline-anim1: #bfc3c7;

$wgamburger-btn: #bbbfc3; // menu-btn

$warrows-btn: #b2b6ba;

$blue: #318de8;

$wblock-menu: #f7f7f7;

// Color dark-black theme - dbg - d-dark; bg-background and other

$dbg: #121313; // background block - header and other
$dblock-menu:#0b0b0b;

